[2020-04-02 10:49] richardostler opened #1 "Increase spacing between sub-headings and previous content"
Increase spacing between sub-headings and previous content, so that appearance is less congested.

[2020-04-02 10:56] nathcast commented on #1
I have seen that

[2020-04-02 11:49] nathcast commented on #1
I ahve increases the space in datasets and also in summary. Also corrected some problems with heading,

[2020-04-02 11:50] nathcast opened #2 "Design Tab"
I have noticed that the "design Tab" repeated some fields. I have sorted the obvious one: I need to check that what I am returning is what I have in the json file.

[2020-04-02 11:53] nathcast opened #3 "content: metadata/*ms/measurements.html"
- [ ] The Measurement Page will be a combination of http://www.era.rothamsted.ac.uk/Met/rothmet and

http://www.era.rothamsted.ac.uk/Met/instrumentdescription
and should sit on the Met Station Page where Design is in the Experiment Page.

- [x] rms/measurements (MG)
- [x] wms/measurements (MG)

- [ ] wms- line 254 - CLOUD <b>[NEED TO FIND OUT WHEN THIS STOPPED Appears in WOBMET header file 1962.]<

[2020-04-02 12:01] nathcast commented on #2
Also check the spacings within that tab.

[2020-04-06 11:38] nathcast commented on #2
I have sorted out the bug that caused the repeat of "design" and tidied up that tab.
Data is provided by filling in the GLTEN site and updating the json files using my python tools.

Please comment on style.

[2020-04-06 11:44] nathcast opened #4 "Review _site tab in experiment"
The description might need a heading

[2020-04-06 11:49] nathcast opened #5 "Link to a specific tab in the experiment page"
I want to be able to point a link to a specific tab in the tab design of a page. I know it just needs a bit of jQuery at the rightplace. and I think I found out which one it is. I just dont knwo where the code goes: I have never done jQuery.

Thanks for that.

[2020-04-07 11:24] nathcast commented on #5
Thanks Alberto for guidanec in that. That is nw working.

[2020-04-07 11:29] nathcast opened #6 "css: expt tabs problems"
Onload of the page, the active tab is not displaying the correct style although the correct tab content is showing.
So on load of the page, it does show the summary page but the Overview Tab is the same color as the other tabs. When cliking on the tab, it then takes the right color.
I have analysied this in the dev tools, and the behavior seems ok,
I looked into stackOF, and other people had simil

[2020-04-09 10:59] nathcast opened #7 "Contact.php breaks the menus"
When on contact.php, the menus don's work. Investigate and fix.

[2020-04-09 11:21] nathcast commented on #5
There is still a problem with that: sometimes, the link clicked goes straight to the desired tab, and sometimes, the page needs a page refreshed to go to it.
Also, I never get tto see the actual tabIndex styled as it should be.

[2020-04-09 12:06] nathcast commented on #3
GIT only accepts PDFs and I Have not managed to make a pdf of the page that looks like the final product: so here a pdf of the table as it is now,

[pdfera_RMS_measurements.pdf](https://github.com/Rothamsted-Ecoinformatics/eRA/files/4455999/pdfera_RMS_measurements.pdf)

Please edit the file measurements.html that I put in TEAMS > eRA>web site update > FILES tab> webPages>rms/measurements.html

![A

[2020-04-09 12:13] stellalberto commented on #5
We can have another look on Tuesday, is it ok?

From: Nathalie Castells-Brooke <notifications@github.com>
Sent: 09 April 2020 12:22
To: Rothamsted-Ecoinformatics/eRA <eRA@noreply.github.com>
Cc: Alberto Stella <alberto.stella@rothamsted.ac.uk>; Assign <assign@noreply.github.com>
Subject: Re: [Rothamsted-Ecoinformatics/eRA] Link to a specific tab in the experiment page (#5)

There is still a proble

[2020-04-15 14:39] richardostler commented on #2
Looks ok so far, but it isn't yet representing the full set of metadata which is available. e.g. Broadbalk has metadata also has crop rotations and factors/factor levels which aren't being displayed by e-RA.

[2020-04-15 14:41] richardostler commented on #1
fixed

[2020-04-15 14:41] #1 closed, assigned to richardostler, nathcast

[2020-04-15 14:46] richardostler opened #8 "Preserve GLTEN paragraph formatting"
Paragraph formatting is being lost e.g. see the experiment design description for Broadbalk current period is [one paragraph block](http://local-info.rothamsted.ac.uk/eRA/era2018-new/expt.php?expt=rbk1), whereas [GLTEN](https://www.glten.org/experiments/1) is several paragraph blocks.

Assuming the formatting isn't lost in the JSON extracted from GLTEN, please can you preserve it.

[2020-04-15 15:06] richardostler opened #9 "Experiment metadata overview tab content enhancements"
The following pieces of information are either not necessary for page display (but must be retained for the machine readable content) or need tweaking:

- [x] - General Information -> Type: Experiment (they're all experiments!) - remove
- [x] - General Information -> Title: - remove, this is already given above the tabs
- [x] - Timeline -> Temporal Coverage: remove this - it simply restates Date S

[2020-04-15 15:49] richardostler opened #10 "Experiment metadata overview tab content enhancements"
The following pieces of information are either not necessary for page display (but must be retained for the machine readable content) or need tweaking:

-Type -> Research Station Field :- remove
- Soil properties table is missing. e.g. see GLTEN metadata for Broadbalk

Also, there needs to be spacing between the final white box on each tab.

[2020-04-15 15:55] richardostler opened #11 "Experiment datasets - works better as accordion display?"
Can we try the list of experiment datasets as an accordian display - given there may be multiple datasets listed, the accordian display will compact the list and make it easier to scan.

Alternatively see this [design used by CEH-EIDC](https://catalogue.ceh.ac.uk/documents/4971bce4-8a81-4e23-9637-7fcff37c5f21)

Also, how is the list ordered? Can it be weighted so that more important / popular data

[2020-04-16 15:50] richardostler opened #12 "Refactoring About tab menu items + new pages"
Sorry quite a lot here, but seemed sensible to put everything together! I've set it up as a task list so we can check items off as they're done :)

Remove the following menu items:
- [x] Standards -> Pesticides used - this is a very long lists. Pesticide information will be made available as part of the farm management data
- [x] Standards -> Conventions
- [x] Standards heading

- [x] Create a new

[2020-04-20 11:17] nathcast commented on #8
I have added   style=\"white-space: pre-wrap;\" to the tag that styles the descriptions in (I beleive) al the fields that are susceptble to have a long description. Now, the carriage returns will be visible.

If that is enough, please close issue. Or raise a "new feature request" to make a function to enable a better treatment of text fields. (when data input allows for MD)

[2020-04-20 11:22] nathcast commented on #2
I need to update the json files with new data from GLTEN. I think that I could choose a day / time in the week when I push all the updates to the data - How uptodate do we want that? eventually, I guess a tool can be ran automatically to get the updated information regularly.
That is an enhancement for db2json

[2020-04-21 11:13] nathcast commented on #2
This will be sorted when db2json can be run. Can we close this issue please?

[2020-04-21 11:32] nathcast commented on #9
Done

[2020-04-21 11:44] nathcast commented on #9
I have added the Role.

In the index page , I have linked the team's details with their page at Rothamsted. On this page fed by the database (datacite database) we could also have a link to the rothamsted page, or people who provide their ORCID can feed ORCID with their contact information.
This info comes from GLTEN. Is there a field in GLTEN toprovide link to persons profiles pages on ROthamsted

[2020-04-21 11:47] nathcast commented on #9
Experiment data is fed in GLTEN so if that is correct then that will be reflected here

[2020-04-21 12:05] nathcast commented on #9
At the moment we have funding info in datacite for indivisual dataasets/documents. not experiments.
Experiment info is taken from GLTEN: shall we wait till funding info can be extracted from GLTEN? or make necessary changes to datacite db to add funding info to experiments (which would mean entering same info twice)

[2020-04-21 12:17] nathcast commented on #9
done

[2020-04-21 14:11] nathcast commented on #9
Done

[2020-04-22 09:03] #4 closed, assigned to nathcast

[2020-04-22 09:20] nathcast commented on #9
The fields available for DataAccess in the schema are:
[code]
as seen here, some are linked to dummy data (data[objective] because that data is not in GLTEN yet. If we have a single document that has the whole policy, then there is a field in GLTEN for that. So the document URL needs to be entered in GLTEN (and hosted on era obvisouly) Summaries for the other items in the schema could be used or I

[2020-04-22 09:22] nathcast commented on #9
This is actually hardcoded in db2json: so let me know what is actually needed an I change it in db2json
    license= dict(
        type= "CreativeWork",
        name= "CC-by-4",
        license= "http://creativecommons.org/licenses/by/4.0"
    ),

[2020-04-23 08:56] nathcast commented on #10
Done. What we need to keep in the machine readable json file can be worked out later : so raising an issue for that.

[2020-04-23 08:58] nathcast opened #13 "JSON+LD strings"
The machine readible information is served by a json string included at top of document.
It is a structured tagging system which informs teh search engines.
Some mark up is also important for analytics.

This issue to check that the following pages have relevant strings. They are governed by the types.
Information is here: https://developers.google.com/search/docs/data-types/article
Important to b

[2020-04-23 09:00] nathcast commented on #10
This will be sorted when one of us can run db2json and reconciliate GLTEN and the site.

[2020-04-23 09:01] nathcast commented on #10
Yes: I have spotted that too: and have tried but so far no joy. I put that as a new issue so that we can close that one.

Thanks,

[2020-04-23 09:02] nathcast opened #14 "Space at the bottom of pages."
There should be a space between the bottom of the last box and the bottom of the grey wrapper and also no space between the grey wrapped and the green bottom footer

[2020-04-23 09:12] nathcast commented on #11
If we want to weight them, then we need a way to pin some on top. This should be in the database (datacite) So a 0/1 (important or not) or a grading (1-5) to assign specific importance. I think that for the moment, we could code for the later (1-5) but expect a vote 1 or 5 from the curators: your thoughts?

How do you want list ordered? most recent first? alphabetic?

Already, I would like to be a

[2020-04-23 10:47] nathcast commented on #11
Testing the "card display" as in ECN: see tab "Dataset Cards" as we know what the accordions will look like.
![Annotation 2020-04-23 114720](https://user-images.githubusercontent.com/36696807/80090942-3883cf00-8558-11ea-88d8-cabf37022e9b.png)

[2020-04-23 11:00] nathcast commented on #14
THere is now a spae between the last element in the panel and no white space before green footer. I am happy with that.
please comment and close.
Nat

[2020-04-23 12:25] nathcast commented on #12
In the main tab, I have already a header that is the name of the stations (sites) : I could just make that a link to the station as it was intented originally
![Annotation 2020-04-23 132521](https://user-images.githubusercontent.com/36696807/80099138-e77ad780-8565-11ea-9e92-8e0f05a13745.png)

[2020-04-23 12:30] nathcast opened #15 "content: dataQuality"
- [x] The content to the dataQuality page was taken from the green site.

- [x] It still refers to laurence.

Please update the page
It is at: web site update > files . WebPages>default>dataQuality.php

- [x] Add a section on Data Quality for met data. Met data instruments are routinely calibrated. DIscuss with Tony Scott.

- [ ] New Rothamsted Reseach Data Quality statement required, updated from

[2020-04-23 12:31] mglendining commented on #15
Hi Nathalie, I don't think I have access to this .php file.
Margaret

________________________________
From: Nathalie Castells-Brooke <notifications@github.com>
Sent: 23 April 2020 13:30
To: Rothamsted-Ecoinformatics/eRA <eRA@noreply.github.com>
Cc: Margaret Glendining <margaret.glendining@rothamsted.ac.uk>; Assign <assign@noreply.github.com>
Subject: [Rothamsted-Ecoinformatics/eRA] content: dataQ

[2020-04-23 12:40] nathcast opened #16 "content: conversion factors"
Please add content to the Converion factor page:
you will find it in Teams > eRA > web site update > FILES > webPages > default > CF.php

![Annotation 2020-04-23 133936](https://user-images.githubusercontent.com/36696807/80100449-e5197d00-8567-11ea-97f3-0032a3276dd8.png)

I hope the screenshots help.

[2020-04-23 15:00] Perrymas commented on #16
Hi Nathalie, I have found this page CF.php. I will discuss with Margaret just what we need to put there. Sarah

[2020-04-23 15:10] Perrymas commented on #15
I don't seem to be able to edit the File in Teams either, all though I can open it and comment on it.

[2020-04-24 09:32] nathcast commented on #12
I have added link to the experiments that have dasets so far.

[2020-04-24 12:07] nathcast commented on #12
I have created space holder for the information about the sites.

[2020-04-24 12:10] nathcast commented on #12
I have finished items on the list:
However, we need to think about how we feed the weather station pages and the sttion pages.
Is it easier to feed json files with desciptions or write bits of php pages.
As the pages have a complicated structure and therefore easible breakable, I feel I need to offer a clear pattern and then the part are filled with php pages that could be either hardcoded or json

[2020-04-27 09:38] mglendining commented on #16
Hi Nathalie, could you give some ideas of what you will use this for? Do you want eg Imperial to metric  measurements ((inches to mm, cwt/acre to kg/ha)? Thank you

[2020-04-27 09:45] nathcast commented on #16
This is the conversion factor page that is used in all the Yields books. So a direct copy of that in HTML format would be great.

Note: **Do not close the issues**: just press the green button. thanks,

[2020-04-27 10:55] mglendining commented on #16
HI Nathalie
Can you give me an idea of the format you would like in the html page?
Are you going to use these conversion factors within e-RA, or is it just text that you want, eg
'Factors for the conversion of Imperial to Metric Units' Heading 2
Then a list, eg
1 inch (in.) = 2.540 centimeters (cm).

Do you just want me to type it in and format it?
Thanks
Margaret
________________________________

[2020-04-28 11:14] nathcast commented on #12
For the Sites: I use a page called farm:
tabs are fed by either code or hardcoded pages that are easier to maintain for the webmasters/
the page looks for the folder for that farm (rothamsted, broomsbarn ... ) and picks up there the file

- summary.php for the overview tab
- history.php for the history tab
- the images are served by usual tool that looks into a databse
- we could also have a tab f

[2020-04-29 10:51] nathcast opened #17 "Preventing Injection"
Hi:
the code depends on variables passed to subsequent pages via the URL. (so GET or POST? )
I know this could be prone to injection of malicious code and before all is released, I would like some help to check that code is secure.
The following code is what PJV (verrier) wrote a few years ago.
I am willing to have my code reviewed for weaknesses.

This code is a the top of every page and treats a

[2020-04-29 11:42] nathcast opened #18 "refactor the main PHP files"
The main php pages like expt.php, farm.php, station.php, ... (anything that weaves header and so on should be on the model of farm.php so that the flow of the page is easier to follow.

- [x] about.php
- [x] contact.php
- [x] dataset.php
- [x] e-RAdata.php
- [x] e-RApubs.php
- [x] e-RAsearch.php
- [x] expt.php
- [x] farm.php
- [x] index.php
- [x] register.php
- [x] station.php
- [x] topic.php
- [x

[2020-04-29 12:15] nathcast commented on #12
Finally: Made placeholder files for all "farms"
so for each farm, there will be the following php files which are simple HTML files.
summary.php
history.php
site.php
experiments.php

We also need a summary.json file to feed the schema information for google.

[2020-05-01 09:05] richardostler commented on #17
Emailed you as I don't think this discussion is appropriate for github - I'll create a new issue just to track the status of security work.

[2020-05-01 09:05] #17 closed, assigned to richardostler, nathcast

[2020-05-01 09:47] #14 closed, assigned to richardostler, nathcast

[2020-05-01 11:02] nathcast opened #19 "Security Work"
- [x] Contact IT and ask for their advice

from IT advice:
**MEDIUM**

- [x] It is possible to view the directory listing
- [x] The identified library bootstrap, version 4.1.1 is vulnerable.
- [ ] X-Frame-Options Header Not Set > constantin

**LOW**

- [ ] Absence of Anti-CSRF Tokens
- [ ] Cookie No HttpOnly Flag
- [ ] Cookie Without SameSite Attribute
- [ ] Cross-Domain JavaScript Source File Inc

[2020-05-01 11:04] richardostler commented on #12
I can't see this, nor can I see the main menu item for sites?

[2020-05-01 11:53] nathcast commented on #12
I have now added the "SITES" tab menu at the top

[2020-05-01 11:56] richardostler commented on #11
I quite like the card layout. I think I prefer to have clickable cards, with the mouse rollover highlighting, similar to the CEH model - I don't think the DOI is necessary here. It would be good to have them all consistently sized, even if that means truncating some of the description text - the dataset titles alone ought to be meaningful enough.

Regards weighting, this is definitely necessary, t

[2020-05-01 12:01] richardostler commented on #10
I'll close this once I've run db2json and re-checked

[2020-05-01 12:04] richardostler commented on #9
GLTEN does have an option to include a website for a person, so we could get them to provide the URL profile page, but this could be difficult to manage if the Rothamted URLs change, so perhaps not that safe to use, so lets just link to their ORCID if provided.

[2020-05-01 12:14] richardostler commented on #9
I've checked GLTEN and it only allows you to specify the funder role, we also want to specify the grant number(s) so this should either be boiler plate or added to the database for the additional detail, depending on whether some LTEs have additional/alternate funding sources.

[2020-05-01 13:08] richardostler commented on #9
I think we can hard code this as it will be the same for all experiments. For now the relevant part to use will be conditionsOfAccess and creativeWork. We may add in other parts at a later date.

[2020-05-01 13:25] richardostler commented on #8
Seems to be working well, so should be fine for now.

[2020-05-01 13:25] #8 closed, assigned to richardostler, nathcast

[2020-05-01 13:26] #2 closed, assigned to richardostler, nathcast

[2020-05-01 13:28] richardostler commented on #5
Sorry @nathcast not sure what input you need from me here?

[2020-05-01 13:30] richardostler commented on #12
@nathcast do you want to keep this open for the summary.json or put as a new issue and close this one?

[2020-05-01 13:32] richardostler opened #20 "CSS: Brown background"
Sorry, I'm starting to find the brown background very drab! Can we change to white?

[2020-05-04 08:19] nathcast commented on #12
this issue is about the tab manu item. I would prefer dealing with other issues of contents in other pages. So I will close this one and we will open Content issues to be dealt separatly
It gives a sense of acchievement to close issues or click boxes. :)

[2020-05-04 08:19] #12 closed, assigned to richardostler, nathcast

[2020-05-04 10:43] nathcast commented on #20
![image](https://user-images.githubusercontent.com/36696807/80957360-e6b23300-8dfa-11ea-974f-7c6e33ef6133.png)
I have made the background slightly off white.
bootstrap4 uses SASS: we write scss files and use a workflow to make css files out of these SCSS files.
When close to launch, I suppose we will have a review of all the style and then I will rebuilt my SASS workflow. This will ensure all the

[2020-05-05 09:09] #5 closed, assigned to nathcast

[2020-05-05 09:20] nathcast opened #21 "content: admin texts"
- [x] Data Access Policy for overview page (condition of access page)
- [x] updae license for datasets and condition of access
- [x] Boiler Plate Funding for LTE experiments

- [x]  Boiler Plate Funding for DATASETS

In Access Use and Conditions:

- [x] Change the section title to Dataset Access and Conditions
- [x] The citation example has '_Rothamsted Research (N/A)_' remove the N/A
- [x] The 'C

[2020-05-05 09:46] nathcast commented on #9
DataAccess: I commented out what came from the database and prepared placeholder for text from you. and started a separate issue for all the admin official texts that we need.

Corrected the license in teh code for db2json , and hardcoded the license on the site. Put the logo and a link to the license. Added to separate issue for admin documents

Fundings: same as above: prepared Boiler plate spac

[2020-05-05 09:47] nathcast commented on #9
I have made the top bit as a check list and AFAIK, i ticked all the boxes I coudl do regarding _summary.php and opened separate issues for what needs to be done elsewhere. Can we close this? thanks

https://github.com/Rothamsted-Ecoinformatics/eRA/issues/21#issue-612460107

https://github.com/Rothamsted-Ecoinformatics/db2json/issues/5#issue-612477962

[2020-05-06 08:31] nathcast opened #22 "CSS: page jumps"
When position of page moves when footer appears or disappears
When on a page with tabs, changing to a tab that is so short that the footer appears, makes teh page move slighty. It shouldn't.
There must be a problem with the margins and stuff.

[2020-05-11 11:44] nathcast commented on #13
LTE : do as Scholarly article

[2020-05-11 13:22] nathcast commented on #11
I have replaced teh DOI in the footer by a button that says More... and made the whole card clickable.

I have made the cards the same size in their rows.

To have cards all the same size, it would be best if the descriptions are roughly the same size. That can be acheived by
1: either in the database, asking curators to only have the same average number of characters (so a bout 300 characters
or

[2020-05-12 10:49] nathcast commented on #11
Now made a function which chop the description before 300 (or any number we chose) if the next one brings it above that length, the next sentnce is not added.
Im happy with that. It would be best that curators keep abtracts desriptions below an aggreed string length.

[2020-05-12 11:46] nathcast commented on #7
mended.

[2020-05-12 11:46] #7 closed, assigned to nobody

[2020-05-12 12:13] nathcast commented on #18
done

[2020-05-12 12:13] #18 closed, assigned to nathcast

[2020-05-13 11:25] nathcast commented on #22
By adding a longer bottom, so that the page does not run out when closing a tab, the shifting is removed.. So added the _bottom.php in the finish.php page. Fill that with stuff that is useful on all teh pages like may be a smaller table of content or like here a Getting Started...

[2020-05-13 11:25] #22 closed, assigned to nobody

[2020-05-13 12:54] nathcast commented on #11
Also added this design to the weather Data.

[2020-05-18 11:09] nathcast commented on #13
made type experiment scholarly article.

[2020-05-19 10:49] nathcast opened #23 "Update data access to PDO::"
This is really old code and it's about time I review it to access the database object to PDO:: classes
For this I will need to read up and then modify the code.
This concerns the access to the database for the Biblography.

[2020-05-19 12:16] nathcast commented on #10
I added the soil properties (they were missing indeed)
TODO in DB to JSON, pull Depth  when it is there and then come back here to add depth to table.

[2020-05-19 12:25] nathcast opened #24 "_design.php"
-  [x] Crop Rotations
- [x] Factors
- [x] Factor combinations

[2020-05-20 06:14] richardostler commented on #20
I prefer this new background!

[2020-05-20 06:14] #20 closed, assigned to richardostler, nathcast

[2020-05-20 06:18] richardostler commented on #11
Really like the new display format, clear and easy to read. I think we can still 'chop' longer text as it still serves a purpose, so rather than limit the amount of text I think it is better to recommend the first few sentences should have most impact re introducing the dataset.

[2020-05-20 06:19] richardostler commented on #10
Looks good.

[2020-05-20 06:19] #10 closed, assigned to richardostler, nathcast

[2020-05-20 06:22] #9 closed, assigned to richardostler, nathcast

[2020-05-20 07:44] richardostler opened #25 "Links to external sites should ope in a new tab/window"
For example, on Rothamsted site pages, 'more' links open pages from rothamsted.ac.uk

There are links to outside of eRA in:

- [x] header
- [x] some hard coded pages.
- [x] pages where people provide ORCIDs
- [x] DOIs

I might want to see if I can get Javascript to do that for me:)

[2020-05-20 09:26] nathcast opened #26 "Grade Datasets"
The datasets in the Dataset page, need to be graded

- [x] extra field in database,
- [x] update db2json to reflect extra field
- [x] update code to sort according to grade and year DESC

[2020-05-20 10:31] nathcast opened #27 "content: grade datasets"
I have added a field in the datacite database to add the grade of the datasets (and documents)

You will find the LOCKDWN database in
https://rothamsted.sharepoint.com/:f:/s/e-RA/Ei7EzwsAQsVOnsLmOYSWsV4BaYEw6Dd7rbRSVIlmxZeNdQ?e=uNLfvJ

You can update the grades using the form : frm_metadata_document and you will find the field on teh right.

![image](https://user-images.githubusercontent.com/36696

[2020-05-20 10:37] mglendining commented on #27
Hi Nathalie
Is 1 low importance and 3 high?
M
________________________________
From: Nathalie Castells-Brooke <notifications@github.com>
Sent: 20 May 2020 11:31
To: Rothamsted-Ecoinformatics/eRA <eRA@noreply.github.com>
Cc: Margaret Glendining <margaret.glendining@rothamsted.ac.uk>; Assign <assign@noreply.github.com>
Subject: Re: [Rothamsted-Ecoinformatics/eRA] content: grade datasets (#27)

Assig

[2020-05-20 10:45] mglendining commented on #27
Sorry, Nathalie, but I can't see it.
I assume it is the lockdown version? The box for 'grade' is not there in the version I just looked at.

Margaret
________________________________
From: Nathalie Castells-Brooke <notifications@github.com>
Sent: 20 May 2020 11:31
To: Rothamsted-Ecoinformatics/eRA <eRA@noreply.github.com>
Cc: Margaret Glendining <margaret.glendining@rothamsted.ac.uk>; Assign <assi

[2020-05-20 11:22] nathcast commented on #26
The datasets.json file which lists the datasets is ordered by db2json so no need to update the code to sort it... :)

[2020-05-20 11:23] nathcast commented on #26
Try broadbalk where i have ordered the datasets: it works
So pending the grading by M and S

[2020-05-20 11:56] nathcast commented on #27
Ok: I am going to sync the versions,,,
and then you can sync too,
sorry: I forgat that bit.

Nathalie Castells-Brooke
Bioinformatics Consultant
Biomathematics and Bioinformatics Division
Rothamsted Research
Harpenden
Al5 2JQ
________________________________
From: Margaret Glendining <notifications@github.com>
Sent: Wednesday, May 20, 2020 11:45 AM
To: Rothamsted-Ecoinformatics/eRA <eRA@noreply.git

[2020-05-20 12:01] mglendining commented on #27
OK, I'll look at it tomorrow now.
I don't work this afternoon.
Thanks
M
________________________________
From: Nathalie Castells-Brooke <notifications@github.com>
Sent: 20 May 2020 12:56
To: Rothamsted-Ecoinformatics/eRA <eRA@noreply.github.com>
Cc: Margaret Glendining <margaret.glendining@rothamsted.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [Rothamsted-Ecoinformatics/eRA] content:

[2020-05-20 17:13] Perrymas commented on #27
ok

________________________________
From: Nathalie Castells-Brooke <notifications@github.com>
Sent: 20 May 2020 12:56
To: Rothamsted-Ecoinformatics/eRA <eRA@noreply.github.com>
Cc: Sarah Perryman <sarah.perryman@rothamsted.ac.uk>; Assign <assign@noreply.github.com>
Subject: Re: [Rothamsted-Ecoinformatics/eRA] content: grade datasets (#27)

Ok: I am going to sync the versions,,,
and then you can s

[2020-05-20 17:13] Perrymas commented on #27
I've been trying to do the course, sorry not to get round to this.

sarah

________________________________
From: Margaret Glendining <notifications@github.com>
Sent: 20 May 2020 13:02
To: Rothamsted-Ecoinformatics/eRA <eRA@noreply.github.com>
Cc: Sarah Perryman <sarah.perryman@rothamsted.ac.uk>; Assign <assign@noreply.github.com>
Subject: Re: [Rothamsted-Ecoinformatics/eRA] content: grade dataset

[2020-05-20 17:19] Perrymas commented on #27
ok, i have found the lockdown database. IT goes into Ellen's user name unfortunately.
I assume I work on it and then upload it back? or syn it back?

sarah

________________________________
From: Nathalie Castells-Brooke <notifications@github.com>
Sent: 20 May 2020 11:31
To: Rothamsted-Ecoinformatics/eRA <eRA@noreply.github.com>
Cc: Sarah Perryman <sarah.perryman@rothamsted.ac.uk>; Assign <assign@

[2020-05-26 09:39] nathcast commented on #25
Hi.
I know that some pages do it and even it is done in eRA, however, even now, the UX community is really divided  around that practice and I would like that we have a look at these. Some compare it to the coke/pepsi war...
I have read a few articles some for, some against, and this one is a good summary:

https://www.caktusgroup.com/blog/2017/03/01/opening-external-links-same-tab-or-new/

based

[2020-05-26 10:27] richardostler commented on #25
Hi Nath,

I don’t want to turn this into a big discussion point and would prefer the new tab by default for external sites (I’m one of those people who’ll however over a link and click the new tab option!). From the article below I would argue links would generally fall into the ‘reference’ category.

Cheers

Richard

From: Nathalie Castells-Brooke <notifications@github.com>
Sent: 26 May 2020 10:4

[2020-05-26 11:20] nathcast commented on #25
Ok: done.
Sometimes I have put the external link icon when it is necessary

I have done it in I think all the pages that are coded, so that is uniform,
For the pages that still need to be written, or in the process of being finished, I need to instruct Margaret and Sarah about links and then check.

[2020-05-27 08:41] nathcast commented on #19
https://blog.r2c.dev/2020/preventing-sql-injection-a-django-authors-perspective/

[2020-06-02 12:18] nathcast commented on #24
On Crop rotations: I want a card design, however, there is a bug and so far no joy. The bottom of my cards is missing a border. so I made the Crop Rotations little lists.

[2020-06-03 11:17] nathcast commented on #24
I think I am outputing all that is outputted in the GLTEN.
An improvement would be to somehow have a on hover tip that comes up when hovering on a factor to link to corresponding one on list above.

[2020-06-04 13:50] richardostler commented on #26
Looks to be working ok to me

[2020-06-04 13:51] #25 closed, assigned to richardostler, nathcast

[2020-06-04 13:55] richardostler commented on #24
Looks good - I'm going to create a new issue for some edits

[2020-06-04 13:55] #24 closed, assigned to richardostler, nathcast

[2020-06-04 14:22] richardostler opened #28 "Edits for Experiment Design Factors"
- [x] Beneath the Factors heading, can you add the text: _Factors are the interventions or treatments which vary across the experiment._
- [ ] Can cards be uniformly sized?
- [x] Rename Factor Recombinations to Factor Combinations
- [x] Beneath the heading can you include the text: _Factor Combinations_ are the combination of factors applied to different plots on the experiment.
- [x] I think the

[2020-06-04 14:29] richardostler opened #29 "Edits for Experiment Design Measurements"
Looking at Broadbalk period 1 there are a couple of display issues - not sure if this is a GLTEN API problem or not.

- [x] Some variable names are 'Default title'
- [x] Crops are showing with a number rather than name
- [x] Material values are under the 'scale' heading and not showing correctly
- [x] Not sure what 'scale' is - can you remove? I think it might be a redundant field.
- [x] Can you r

[2020-06-04 17:31] nathcast commented on #28
**Can cards be uniformly sized?** If they were cards, they could be uniformaly sized. I have tried cards, but in an accordion, which is the container above, the cards **lose their bottom border.** It is a bug that has been observed in bootstrap  and it is documented as solved. and I have already spend 2 hours looking into it, because at first I thought it was something I did. These are list_groups

[2020-06-04 18:01] nathcast commented on #29
The Default title: problem in GLTN when there is no variable name

[2020-06-05 08:29] richardostler commented on #28
Sorry Nath, regards sizing I'm not sure how these differ from the dataset cards?

[2020-06-05 08:33] #13 closed, assigned to richardostler, nathcast

[2020-06-05 08:34] #11 closed, assigned to richardostler, nathcast

[2020-06-05 11:03] nathcast opened #30 "_dataset.php : Click Through Licensing"
Provide a way to have a click through licence so a verbal agreement that people know that there is a licence before they proceed to the link.

- [x] - click through with agree and download for OA datasets
- [x] make zip files
- [x] start cokkies
- [x] start sessions
- [x] cookie banner to accept cookies
- [x] make function to differentiate OA to big ones

- [x] database table to handle registerd u

[2020-06-08 10:31] nathcast commented on #29
all done

[2020-06-08 13:25] nathcast commented on #30
First trial: I have made a modal that is showed at clicking of the download button: I am on the right track?

Here is the idea that people would only be given the choice to download the whole data package as a zip file. The list of files above the download button will just give info on what files there are and the download will get them all, including the datapackage that is provided.
Or we couls

[2020-06-09 09:16] nathcast opened #31 "_datasets.php: only list latest version"
When we have more than one version of a dataset, only the latest one is to be displayed on the list of datasets.

[2020-06-09 10:05] richardostler commented on #30
Zip file so they have everything together

[2020-06-09 10:49] richardostler commented on #28
Discussed and because cards cannot be resized, leave as is for now

[2020-06-09 10:49] #28 closed, assigned to richardostler, nathcast

[2020-06-09 12:33] nathcast commented on #30
Updating the header to that issue to baby step this .

[2020-06-09 12:56] nathcast opened #32 "Handling of versions"
1. - [x] When a new version of a dataset is added, the latest version only should be listed in _datasets.php
2. - [x] the zip files should only contain one version
3. - [x] the name of the zipfile should reflect version
4. - [x] there should be a json file per version
5. - [x] the name of the json file should reflect the version
6. - [x] There should be one DOI per version
7. - [x] there should be

[2020-06-10 08:38] #27 closed, assigned to Perrymas, mglendining

[2020-06-10 09:18] nathcast opened #33 "content: registration forms"
The forms for the registration are all in the group eRA-requests

https://forms.office.com/Pages/DesignPage.aspx?origin=OfficeDotCom&lang=en-US#

To get to them, go to microsoft office forms and choose group forms. If you don;t see these forms straight away there should be a way to find teh group eRA request.
When you click on a form that way, it is easy to edit.

I have made a video:

https://rot

[2020-06-10 11:26] nathcast commented on #31
done

[2020-06-10 11:29] nathcast commented on #32
I thought it would be more difficult than that: a version of dataset is shortname-version.

I only show the version tht is the same as the number of versions available. :)

[2020-06-11 14:25] mglendining commented on #16
Hi Nathalie, I have added a file called Conversion Factors_MJG, it is just in word, so I leave you to format it. It doesn't need to be in tables, but it looks quite neat that way.
It is in e-RA - Documents\eRA web site update\WebPages\default

[2020-06-11 14:30] mglendining commented on #15
Laurence Benjamin's name has now been removed.

[2020-06-11 14:31] mglendining commented on #15
The rest of the file is OK, though we don't do double entry any more, but this is how most of the data was done in the past.

[2020-06-11 15:03] mglendining commented on #3
I am starting to look at this properly now. It is quite a bit of work, as there is a lot of duplication and missing data. But worth doing, as it is very messy.

[2020-06-11 15:04] mglendining commented on #3
I'll start with Rothamsted, which is the biggest, and has most information. Woburn should be fairly straightforward after that, but we may need to get hold of information from others for Brooms Barn.

[2020-06-11 15:32] Perrymas commented on #3
Let me know in what way i can help, so not to overlap with you.

Sarah

________________________________
From: Margaret Glendining <notifications@github.com>
Sent: 11 June 2020 16:04
To: Rothamsted-Ecoinformatics/eRA <eRA@noreply.github.com>
Cc: Sarah Perryman <sarah.perryman@rothamsted.ac.uk>; Assign <assign@noreply.github.com>
Subject: Re: [Rothamsted-Ecoinformatics/eRA] content: metadata/*ms/me

[2020-06-23 10:39] nathcast opened #34 "content: rbk1"
This has to do with additional documents that are in broadbalk and listed in the page http://www.era.rothamsted.ac.uk/Broadbalk at the top.

If there is a link to a document wich is not a web page, I think it shoulf be a PDF and it should have a DOI therefore it can be linked into the database and in the html page by its DOI

Please review, edit and tick here when done

- [ ] doclist.html - table

[2020-06-24 12:19] nathcast opened #35 "content: rpg5"
Park Grass:

- [x] doclist.html
- [ ] pgcomposition1.html : add keyword KeyRefComposition to relevant papers in endnote
- [ ] harvesting.html KeyRefHarvesting add keyword KeyRefHarvesting to relevant papers in endnote

[2020-06-24 12:22] nathcast opened #36 "content: rhb2"
Please review in webpages/rhb2

- [x] doclist.html

- [x] Check the keyrefs tags (they are now in the link (doclist)

- [x] nutrients.html
- [ ] Soil chemical and physical properties

[2020-06-25 10:22] nathcast commented on #16
I have HTMLised the CF page.
The reference to the DEFRA booklet at the end has now moved from https://www.gov.uk/government/publications/fertiliser-manual-rb209--2  to https://ahdb.org.uk/rb209 : I have edited the reference accordingliy.

[2020-06-25 14:08] mglendining commented on #16
Thanks. I have made some minor corrections to it.
Sarah would you have a chance to look and see what you think?.

M
________________________________
From: Nathalie Castells-Brooke <notifications@github.com>
Sent: 25 June 2020 11:22
To: Rothamsted-Ecoinformatics/eRA <eRA@noreply.github.com>
Cc: Margaret Glendining <margaret.glendining@rothamsted.ac.uk>; State change <state_change@noreply.github.com

[2020-06-25 14:40] Perrymas commented on #16
Yes, sure, I am trying to finish the EdX course today, when my internet allows

sarah

________________________________
From: Margaret Glendining <notifications@github.com>
Sent: 25 June 2020 15:08
To: Rothamsted-Ecoinformatics/eRA <eRA@noreply.github.com>
Cc: Sarah Perryman <sarah.perryman@rothamsted.ac.uk>; Assign <assign@noreply.github.com>
Subject: Re: [Rothamsted-Ecoinformatics/eRA] content:

[2020-06-25 16:37] Perrymas commented on #16
Hi. I have edited the references because there were inconsistent style in dates and apostrophes and order.
Also, Equation 2, about beaufort scale, in the Word file is not in the HTML file. If it was intentionally removed you can remover the (1) from the list of equations.
Many thanks for doing this.

[2020-06-26 09:16] nathcast commented on #16
Oops not meant to remove it. I have put it back now.
Thanks for editing the references.

[2020-06-26 10:05] nathcast commented on #16
There is a note in measurements.html to add this to conversion factors.
	<p>Vh/V10 = 0.233+0.656*log10 (h+4.75), where Vh = speed in knots
						at height h, V10 = speed at 10m and h = height in m (Met Office
						1982). ADD THIS TO CONVERSTION FACTORS??</p>

- [x] check this when it is done.

[2020-06-29 08:30] mglendining commented on #16
This is now done
Margaret

________________________________
From: Nathalie Castells-Brooke <notifications@github.com>
Sent: 26 June 2020 11:05
To: Rothamsted-Ecoinformatics/eRA <eRA@noreply.github.com>
Cc: Margaret Glendining <margaret.glendining@rothamsted.ac.uk>; State change <state_change@noreply.github.com>
Subject: Re: [Rothamsted-Ecoinformatics/eRA] content: conversion factors (#16)

There i

[2020-06-29 08:35] mglendining commented on #16
Nathalie Can we have a link in the RMS description of wind run to the conversion factors page, to show the calculation used to convert 10 m to 2m? Shown as [link to] in RMS text.

[2020-06-29 13:58] mglendining commented on #3
Hi I have finished my updates to the Rothamsted met data measurements. @nathcast do you want to see if they are OK. There are a few queries for you, eg the link to Buck doesn't work, and can we have a link to the conversion factos? Then perhaps Sarah can have a look, to see if it makes sense. I'll do Woburn, as I have all the data to hand, from doing Rothamsted.

[2020-06-29 14:46] Perrymas commented on #3
OK, well done, thanks margaret, i will take a look,
cheers

sarah

________________________________
From: Margaret Glendining <notifications@github.com>
Sent: 29 June 2020 14:58
To: Rothamsted-Ecoinformatics/eRA <eRA@noreply.github.com>
Cc: Sarah Perryman <sarah.perryman@rothamsted.ac.uk>; Assign <assign@noreply.github.com>
Subject: Re: [Rothamsted-Ecoinformatics/eRA] content: metadata/*ms/measure

[2020-06-30 17:10] Perrymas commented on #3
This was a big effort to collate this together I can see, Margaret, many thanks.

I have made some edits to the Roth met data measurements and saved as -sp.txt suffix. I have suggested different titles, such as 'Methods of measurement' instead of 'How is it recorded?' - is that ok? I have edited some grammar, e.g. instead of 'so that they can easily be removed' to 'enabling easy removal'.  I have

[2020-07-01 15:12] mglendining commented on #3
Hi Sarah
I have incorporated all your changes I think, thanks for that.
Good idea to try and rationalize the rainfall, but maybe we need some more time to do that? Replace RAIN and RAIN5 with another composite dataset.

I have now finished the WOBURN equivalent, if you could have a look at that please.
Its in wms

Thanks a lot

Margaret

________________________________
From: Perrymas <notificatio

[2020-07-01 15:45] Perrymas commented on #3
Thanks margaret, i will check woburn.

Yes, a composite dataset is a good idea. We can always keep all that inf o as a foot note somewhere.

sarah

________________________________
From: Margaret Glendining <notifications@github.com>
Sent: 01 July 2020 16:13
To: Rothamsted-Ecoinformatics/eRA <eRA@noreply.github.com>
Cc: Sarah Perryman <sarah.perryman@rothamsted.ac.uk>; Assign <assign@noreply.githu

[2020-07-02 08:31] nathcast opened #37 "Review our workflow and policies for Documents"
Statement: Documents that are non HTML should be considered for DOIs and proper annotation.

Discuss:
Their location
Name - version??? new DOI each time the document has a new line?

Exel spreadsheet in Rothamsted Research\e-RA - Documents\General\eraDataRepositoryForDatasets

[2020-07-02 09:23] Perrymas commented on #34
By review - do you mean to decide which should have a DOI or not? Or to actually create the DOIs...?

[2020-07-02 09:28] nathcast commented on #34
This is to review the HTML pages. These will not have DOIs (I think)
Decide if they are still relevant in the new site, and if they are accurate.
I am going to remove the assignemnt because I am still working on them.. Sorry

[2020-07-02 10:28] mglendining commented on #3
@nathcast in the Rothmet data measurments, I would lilke to completely delete the SUNMAX section, and hide it from being displayed in Rothmet. It was only measured 1915-35, and I don't have any methodology information.
There are a few links required, and the Buck 1981 refernce no longer works. There are still a few bits of information that we are waiting on, eg visibility codes, but I can't do any

[2020-07-02 10:59] nathcast commented on #34
I have replaced the links to the PDFs to links to PDFs with new names in teh new site.

I have I think ironed out most problems

Please see if you still like these pages, and that are still relevant.

Thanks

[2020-07-02 11:05] Perrymas commented on #34
By 'if we still like these pages' do you mean to check the pages on the current old website - or your new one?

[2020-07-02 12:11] nathcast commented on #34
This is for the new web site.  I dont think we need to update the old one unless there is something really wrong. I will explain on monday

[2020-07-03 08:01] nathcast commented on #3
I have commented our SUNMAX in RMS/measurements

[2020-07-03 08:56] nathcast commented on #3
rms/measurements

- [x]  (see <a href="info.php?FileName=CF.html">Conversion factors</a>)

- [x] (see <a href="info.php?FileName=derived_variables.html"> derived variables<a>)

- [x] Make the problem with BUCKS refenrece a separate issue at

[2020-07-03 08:57] nathcast opened #38 "content: DOI to the BUCKS paper"
The DOI to the BUCKS paper is not working.
It needs investigating

[2020-07-03 10:44] nathcast commented on #3
Regarding wms:

- [x] I have commented out RDUR

- [x] added the TODs tothe top of this issue as check boxes

- [x] conversion factor links
- [x] derived variable links

[2020-07-03 11:27] nathcast commented on #21
I have used the text in Data Access and Funding text for new website_MJG_SP.docx to update the expt and dataset pages.

[2020-07-06 09:21] mglendining commented on #38
I contacted the Journal, who replied very quickly. They have a problem with old journals, and are looking to resolve this problem, but don't have a date for that. In the meantime, I suggest we delete the link, just leave the reference and add to TODO list.

[2020-07-06 09:47] mglendining commented on #3
Thank you. Please can we also add 'find Visibility Codes for 1928-1961: A-E, G and X.' for Wobmet.

[2020-07-06 09:51] mglendining commented on #3
I have commented out the comment on earlier visibility codes. for wms

[2020-07-06 16:18] mglendining commented on #3
I have made a start on the Brooms Barn measurements. Question: much of the data between 2009 and 2012 was supplied by the met office. We should put this in somewhere. I have started by putting (C) Met Office 2009-2012. Then there are other odd days and weeks. Should this also be included? This is probably a question for Richard too. It also applies to Woburn, though not as much.

[2020-07-07 15:12] mglendining commented on #3
I have finished the first version of the Brooms Barn met data measurements. I need to check the measurment of WETB and the diameter of the rain gauge, otherwise all done. @Perrymas  can you take a look? It is called bms.

[2020-07-08 15:24] #16 closed, assigned to Perrymas, mglendining

[2020-07-08 15:33] richardostler commented on #15
There are several superscript numbers in the text but they don't refer to any references on the page. I also think the text on Data checking procedures should be revised to state double entry is no longer performed, but I think we do have programmatic validations on the data?

Finally, the Rothamsted Research Quality statement looks out of date (it has a reference to something which expired in 201

[2020-07-08 15:34] #32 closed, assigned to richardostler, nathcast

[2020-07-08 15:35] #29 closed, assigned to nathcast

[2020-07-08 15:36] #31 closed, assigned to richardostler, nathcast

[2020-07-08 15:40] richardostler opened #39 "Experiment Metadata - Overview page enhancements"
Can you remove the sections Data Access and License from the experiment over view tab - In this context both are only really relevant to the Dataset pages and I think the CC0 is potentially confusing.

[2020-07-08 15:51] richardostler commented on #21
In Access Use and Conditions:

- [x] Change the section title to Dataset Access and Conditions
- [x] The citation example has '_Rothamsted Research (N/A)_' remove the N/A
- [x] The 'Conditions of use' link does not work

[2020-07-08 15:55] richardostler opened #40 "Rothamsted weather datasets part of Brooms Barn LSRE"
The Rothamsted weather datasets are being shown as part of the Brooms Barn LSRE on the dataset pages.

[2020-07-08 15:56] richardostler opened #41 "No Page for Conditions of Use"
This Conditions of Use page is missing

[2020-07-08 16:01] richardostler opened #42 "Measuring Weather/Derived variables page"
- [x] The link title (in the nav menu) and page title should be the same - I'm not sure if the page is only meant to list derived variables so unsure on the best title.
- [x] There is a rogue punctuation immediately after the title
- [x] All of the hyperlinked variable names that I tested are broken

[2020-07-08 16:06] richardostler opened #43 "content: rms - Rothamsted Met station page"
- [x] Rogue punctuation symbols before the title on the Measurements tab
- [x] Also on the measurements tab there is a rogue 'F' before the table
- [x] Remove the Data Access and License sections from the overview page

**These are the pages that are needed**

- [x] summary.html - introduction and overview
- [x] equipment.html - about the machines
- [x] measurements.html about the measurements (pr

[2020-07-08 16:10] richardostler opened #44 "content: wms - Woburn Met Station"
- [x] The overview and Site page both have the same content - looks like there is a bug which means content isn't being correctly separated between the two tabs
- [x] Remove Data Access and License sections from overview page
- [x] On the Measurements tab, there is a rogue 'S' before the table and the table is hyperlinked to the Request Data Access page

**These are the pages that are needed**
_ch

[2020-07-08 16:11] richardostler opened #45 "content: sms - saxmundham met station"
**These are the pages that are needed**
_please check when done or irrelevant_

- [x] summary.html - introduction and overview

- [x] measurements.html about the measurements

- [x] Check that the datasets associated with sms are in the datacite db (when we can access it) and that the actual datasets are in the repository

[2020-07-09 08:43] nathcast commented on #45
If we replace the present way of serving "station.php" information with actual web pages for overviews and so on, then I believe this issue will go away.

[2020-07-09 08:54] nathcast commented on #43
Sorry: can't see it..

[2020-07-09 08:54] mglendining commented on #15
Hi All
Further thought regarding data quality.
The various equipment at the met stations is all calibrated regularly by Campbell's scientific, so we ought to include a statement about that.
Agreed, double entry no longer happens,but very little data is now entered manually. However, when it was, we used double entry.
I'll contact Tony and try to produce a sentence or two, if you think this is the

[2020-07-09 09:38] nathcast commented on #42
I cannot see that: it might be a bug due to the server side scripting.. so lets ignore these for the moment.

This is a menu issue: will correct it all at once at the end.

[2020-07-09 09:40] nathcast commented on #38
Decided to leave the links in place as the journal are going to sort it out. It is not our issue.

[2020-07-09 09:48] nathcast commented on #40
Sorry: I am not sure what you are talking about: please explain.

[2020-07-09 10:33] mglendining commented on #38
I'm happy with that.

[2020-07-09 20:27] mglendining commented on #43
I have made some small updates to the rms measurements page.

[2020-07-09 20:29] mglendining commented on #3
I have made some small updates to the rms and wms measurement pages.

[2020-07-10 15:08] #38 closed, assigned to richardostler

[2020-07-13 10:57] mglendining commented on #3
I have finished the bms measurement pages, apart from the issue of how to deal with the Met Office data. Currently shown as crown copyright 2009-2012. @nathcast I would just like @Perrymas and Tony Scott to look at it.

[2020-07-13 11:02] mglendining commented on #3
Data quality of met measurments. The equipment is regularly calibrated by Campbell Scientific, and there are probably other routine checks carried out. Should we have a separate section on Data Quality with the met data? @nathcast @richardostler @Perrymas

[2020-07-13 13:09] nathcast commented on #3
PLease go ahead and add that in the DataQualilty page which is in the default fodler

[2020-07-13 15:41] mglendining commented on #15
I have now added a paragraph about instument calibration at the three met stations. @nathcast @richardostler @Perrymas

[2020-07-13 15:57] mglendining commented on #15
The link to docport no longer works, so it is not possible to check all the SOPs listed on this page. Tony is trying to update the one about measuring met data and uploading to e-RA, but now that Laurence Benjaimin has left, this is no longer maintained. @richardostler

[2020-07-14 07:37] richardostler commented on #15
@mglendining I'll email Tim James to see if he knows what's going on with it.

[2020-07-14 07:46] mglendining commented on #15
@richardostler apparently the old link does work, but as I don't have VPN I can't see it.

[2020-07-14 09:33] mglendining commented on #15
@richardostler  @nathcast Elizabeth King (in the safety office) has shown me how to access docport.
if you go to the new intranet and the 9 little dots arranged in a square on the left hand side of the Rothamsted Research ribbon, it  appears in the 'app launcher' as 'docport'. you don't need VPN for this.

[2020-07-14 09:33] mglendining commented on #15
@richardostler  @nathcast Elizabeth King (in the safety office) has shown me how to access docport.
if you go to the new intranet and the 9 little dots arranged in a square on the left hand side of the Rothamsted Research ribbon, it  appears in the 'app launcher' as 'docport'. you don't need VPN for this.

[2020-07-14 11:15] mglendining commented on #3
@nathcast there is a stray 'S' at the start of wms. Can you get rid of it? I can't see what is causing it. Thanks M

[2020-07-14 12:00] nathcast opened #46 "content: bms - brooms barn met station"
**These are the pages that are needed**
_Please check when done or if irrelevant_

- [x] summary.html - introduction and overview

- [x] measurements.html about the measurements

- [x] Check that the datasets associated with bms are n the datacite db (when we can access it) and that the actual datasets are in the repository

- [x] bms. We used Met Office data for 5 variables Aug 2009 - May 2012. W

[2020-07-14 13:22] mglendining commented on #15
I have contacted Elizabeth King (Safety Office) about a new Rothamsted Research Quality statement. Otherwise, all done.

[2020-07-14 14:36] mglendining commented on #15
Elizabeth King doesn't know, suggested Tim James. emailed Tim James.

[2020-07-14 14:45] mglendining commented on #15
@richardostler I think there are Rothamsted Research Quality control statements, but as I am not on VPN, I can't access them. I can nearly see them, then they disappear! eg https://rothamsted.sharepoint.com/sites/QualityAssurance2/SitePages/Quality-Assurance-Guide.aspx Click on the ROthamsted link, and it disappears!

[2020-07-14 14:49] mglendining commented on #46
@nathcast I think all the  'equipment' at the met stations is covered in the measurements page, so this is not required, unless you want to extract it from the measurements pages.

[2020-07-14 16:17] mglendining commented on #15
@nathcast  Reply from Tim James: "I am not aware of another more up to date version [than the 2014 statement]. There are a number of issues that need to be resolved within the institute and quality management is something that will be flagged up. I cannot give a timescale for producing a new quality control statement but I will be raising such things at the FRG tomorrow."

[2020-07-15 08:47] nathcast commented on #46
I removed equipment tab

[2020-07-15 14:46] mglendining commented on #43
@Nathalie I have added some more pages in the list above. These need creating.

[2020-07-16 15:43] mglendining commented on #46
I have finished the measurement and summary pages. @Perrymas please can you check you are happy with it.

[2020-07-21 12:28] nathcast opened #47 "content: met pages"
these are pages that are common to all the met data: They are in the **met** folder

- [x] derived_variables,html
- [ ] schools.html
- [ ] public.html

[2020-07-21 12:29] nathcast commented on #47
I have split the schools pages into public which is more general and probably should have the bulk of the explanations, and schools which will have the links to the worksheets.

There are a lot of spreadsheets associated with the public and school pages.
: are they alreaday datasets with DOIS? or do they need DOIs?

The pdfs of the worksheets need updating with the new LOGOs.

These three datasets

[2020-07-23 09:43] nathcast commented on #21
I have remove the link to "condition of use" until we have a special paragraph about it. I think the text below is enough,

The (N/A) is some datasets is because no "date of publication was entered.
I have replaced this by either the year of creation or the year of publication (4th first characters of the relevant dates) if none of these two are available then I return a blank string, So in the da

[2020-07-23 09:48] nathcast commented on #39
I have done that now.

[2020-07-23 09:52] nathcast commented on #41
Please quote the URL of the page you are viewing when making a comment. I do know knw what this is about. Thanks

[2020-07-23 10:02] nathcast commented on #40
I htkn I have sorted it out, however, I am not sure what you are refering to: if you still see that, please explain better
It is best if you quote the URL you are displayed and what you are looking at. thanks,

[2020-07-28 11:37] mglendining commented on #45
I have completed the summary page for Saxmundham

[2020-07-28 13:55] Perrymas commented on #44
I edited 'took over' to 'commenced'; added missing variables to list of those measured; added my orcid id; changed 'In progress, remove when' to 'Ready to'. Then moved from 'in progress' to 'done' column.

[2020-07-28 15:12] Perrymas commented on #44
In measurements, I edited some typos (minimum instead of mimimum, mercury instead of mecury; also some commas and fullstops missing were added in. Also, rejigged some sentences for consistency; chnaged column titles - Dates recorded instead of when recorded; Measurement methods instead of Methods of ...

[2020-07-28 15:14] mglendining commented on #44
Thanks Sarah, all sounds good.

________________________________
From: Perrymas <notifications@github.com>
Sent: 28 July 2020 16:12
To: Rothamsted-Ecoinformatics/eRA <eRA@noreply.github.com>
Cc: Margaret Glendining <margaret.glendining@rothamsted.ac.uk>; Assign <assign@noreply.github.com>
Subject: Re: [Rothamsted-Ecoinformatics/eRA] content: wms - Woburn Met Station (#44)

In measurements, I edite

[2020-07-28 15:23] mglendining commented on #45
I have completed the measurements page for sms. @nathcast  please can you check that the link to the Open Access DOI which contains the data, is correct. This is the monthly summary, so I assume we don't also need a separate page for monthly summaries? The data is not availalbe from the DET, but as an existing DOI.
@Perrymas please can you read and check, and also the summary page. It should then

[2020-07-28 15:43] Perrymas commented on #45
Hi. I have read and tweeked both the summary and measurements pages. All good to go now.
Can the open access link be instucted to open in a new webpage?
Although, the other links to Sample Archive etc don't open in a new page either. Is this the policy through-out the entire website? It is personal preference I guess - I prefer new pages to open and not to lose the original webpage, but maybe oter

[2020-07-28 15:58] Perrymas commented on #46
I have checked and slightly tweeked the summary and Measuremetns pages. Good to go.

[2020-07-29 08:09] mglendining commented on #45
Hi Sarah,
thanks for checking that.
I'm with you, I prefer a link to open in a new webpage, but I don't know how to set that up.
Nathalie, can you advise?
Thanks
Margaret
________________________________
From: Perrymas <notifications@github.com>
Sent: 28 July 2020 16:43
To: Rothamsted-Ecoinformatics/eRA <eRA@noreply.github.com>
Cc: Margaret Glendining <margaret.glendining@rothamsted.ac.uk>; Assign

[2020-07-29 09:12] nathcast opened #48 "design: Keywords for headers"
Check that there are keywords in the headers and how we present them.

- [ ] Read on Keywords
- [ ] station.php
- [ ] site.php
- [ ] expt.php
- [ ] dataset.php

[2020-07-29 11:10] nathcast opened #49 "design: metatags"
This started as an issue regarding keywords: first off: the metatag keywords is not used by GOogle an altavista dropped it too. see comments for information about that.

Check that the metatags are in the following pages:
- [x] settings.inc have the default tags
- [x] meta.html input the calculated tags.
- [x] station.php
- [x] site.php
- [x] expt.php
- [x] datasets.php

and then, for each page I

[2020-07-29 12:20] nathcast commented on #49
This page says that meta keywords is deprecated and not used. **https://en.wikipedia.org/wiki/Meta_element#The%5Fkeywords%5Fattribute**
Google[1] states they do support the meta tags "content", "robots", "google", "google-site-verification", "content-type", "refresh" and "google-bot". https://support.google.com/webmasters/answer/79812?hl=en

LIst here the Header Tags that we could use:

<title></t

[2020-07-29 12:42] nathcast commented on #49
Where the metatags are taken from:

For experiments, datasets, and pages which call an obvious json string, pick up description from there.
For the stations: make a simple json string to have all the minimum information: that can be used to fill in meta tags and also to add at the top of the page

For the extra pages: add a description field to the files.json (in default folder)

[2020-07-30 08:49] nathcast commented on #49
- title: is fed by **$page_title**

- default $page_title = "e-RA";

- meta description is fed by **$page_description**

- default $page_description = "e-RA provides a permanent managed database for secure storage of data from Rothamsted's Long-term Experiments, the oldest, continuous agronomic experiments in the world. Together with the accompanying meteorological records, associated documentatio

[2020-07-30 10:39] nathcast commented on #49
I have also put tags for robots.

[2020-07-30 10:59] nathcast commented on #49
The description is taken from
experiment.json for station and exptphp
nameofdataset.json for the dataset description
summary.json for the sites.

summary, and experiment.json for met station has to be manually edited and are in the relevant folders for control.

[2020-07-30 12:21] nathcast commented on #30
https://code.tutsplus.com/tutorials/how-to-code-a-signup-form-with-email-confirmation--net-6860

https://www.123-reg.co.uk/blog/email-marketing/beginners-guide-to-building-your-first-email-list/

[2020-07-31 10:24] nathcast commented on #46
I have checked the summary page, the measurement pages, removed the curating tag, and added targets to the external links.
I have also update teh associated json file so that the correct descriptions are added to the header: title, meta, and json string for SEO.

@richardostler : I do not remember what we said about licence for met experiment: this is for the json string.

The GOogle search engine

[2020-07-31 10:28] nathcast opened #50 "datasets: bms"
Upload all the bms datasets to the web site

for xls (OA) dataset:
load the files in the repository
enter information in datacite, (DET datasets have type HTML
run db2json tool
synchronise the files

Before we launch we want at least one dataset then this will be part of maintenance workflow

[2020-07-31 10:42] nathcast commented on #46
I ahve made the dataset comment a separate issue  (dataset : bms)

[2020-07-31 10:55] nathcast commented on #45
The DOI here is a link to one of our own DOI (a dataset)

We could discuss where links open: I think that links to our own DOI (which will stay on the site) should stay in the page unless we have a good reason to send them to another page: like here? so links to anything like href="www.era.rothamsted.ac.uk/" or to non full URLS that are relative to us (or DOIS that would land on our pages should s

[2020-07-31 11:08] nathcast commented on #45
Made the datasets a separate issue .

[2020-07-31 11:09] nathcast opened #51 "datasets: sms"
Upload all the sms datasets to the web site

for xls (OA) dataset:

- [ ] load the files in the repository
- [ ] enter information in datacite, (DET datasets have type HTML
- [ ] run db2json tool
- [ ] synchronise the files

Before we launch we want at least one dataset then this will be part of maintenance workflow

[2020-07-31 11:12] nathcast commented on #3
Moving content of this issue in the relevant stations issues.
So we can close that one as tick boes will be redundant

[2020-07-31 11:17] nathcast opened #52 "datasets: wms"
Upload some wms datasets to the web site

for xls (OA) dataset:

- [ ] load the files in the repository
- [ ] enter information in datacite, (DET datasets have type HTML
- [ ] run db2json tool
- [ ] synchronise the files

Before we launch we want at least one dataset then this will be part of maintenance workflow

[2020-07-31 11:19] #3 closed, assigned to richardostler, Perrymas, mglendining

[2020-07-31 12:06] nathcast commented on #43
I have added the fllowing pages: :extreme, 30yearmean and history,
I think History is good to go, but please checj.

I want to do a bit more on extreme to clean up the formating and on 30yearsmean to add the images. So I will let you know when these are ready.

[2020-08-03 16:01] mglendining commented on #43
Hi @nathcast I think History is OK. It could always have more added to it, but will do for now.

[2020-08-04 14:42] nathcast opened #53 "Feature: Nice URLS"
.htaccess to parse the nice URLs and also the previous URLS.

- [x] legacy URLS: transform the old nice URLs to go to the corect pages
- [x] www.era.rothamsted.ac.uk/site/rothamsted
- [x] www.era.rothamsted.ac.uk/station/rms
- [x] www.era.rothamsted.ac.uk/experiment/rbk1
- [x] www.era.rothamsted.ac.uk/dataset/datasetname
- [x] update the menus and links in site with nice URLs

[2020-08-05 11:12] mglendining commented on #43
@nathcast can you add a page for rms for the soils? This describes the soil at the met station, we already have it and I don't think it needs much extra work. Thanks

[2020-08-06 10:59] mglendining commented on #43
@nathcast we still have a page in rms called 'background' but that is no longer required, as all the information is in summary. Thanks.

[2020-08-06 13:48] mglendining commented on #47
@nathcast I have checked derived variables and added an introductory sentence and title. This is good to go, you just need to remove the comments at the start of the page Nathalie.

[2020-08-06 13:59] mglendining commented on #43
History is good to go, it just needs your comments at the top of the page removing.
M
________________________________
From: Nathalie Castells-Brooke <notifications@github.com>
Sent: 31 July 2020 13:06
To: Rothamsted-Ecoinformatics/eRA <eRA@noreply.github.com>
Cc: Margaret Glendining <margaret.glendining@rothamsted.ac.uk>; Assign <assign@noreply.github.com>
Subject: Re: [Rothamsted-Ecoinformatics/

[2020-08-06 16:18] nathcast commented on #53
6/8/2020
I started working on redirect and have an issue to access the #documents
I have worked on the legacy URLs : In priciple I can do it, but have issue navigating to a subpage as these are in tabs ...

[2020-08-07 11:55] nathcast commented on #53
For dataset: the URL is at the moment:
**/dataset/expt/datasetname** which is easy enough and saves having to find unique shortnames accross all the experiments.

In the datacite database, the new URLs will be as such for a dataset. The datasetname is shortname-version

[2020-08-07 11:57] nathcast commented on #53
for experiment
**/experiment/expt** : to the main page of the experiment
**/experiment/expt/documentname** : to a specific document : but at the moment, I cannot navigate to the specific tabb to display it, but it does load the right file
**/experiment/expt/docname/ref**  same as above, but also specific refs for the document loaded

[2020-08-07 11:58] nathcast commented on #53
for site:
**site/farm** : works

[2020-08-07 12:55] nathcast commented on #30
I had more thought about click trough licencing and what it means for a user to be "registered". I am thinking of using cookies and sessions, and a simple for that ask for email address or twitter handle. If it is an email address, it is easy to verify that they have sent their own email address. If the point of the click through is to remind people to quote our OA datasets in their papers, then f

[2020-08-17 11:04] mglendining commented on #46
@richardostler @nathcast I have added (c) Crown Copyright (year) published by the Met. Office after every variable that used Met Office data, as checked by Tony.

[2020-08-17 13:35] mglendining commented on #44
@richardostler @nathcast I have updated all the Met. Office data used in the measurements file (c) Crown Copyright relevant year.

[2020-09-03 09:35] nathcast opened #54 "experiment: hide design and site tab if no information there"
When displaying an experiment, hide the tabs that have no information like design and site.

[2020-09-17 10:14] nathcast opened #55 "Bibliography workflow"
We have a problem with importing references in the database. this will affect the new site but also affect the old site. The new version of mysql, or XL are chocking on the standart used. I have managed to import a full complement of the references on 16th sept,  but have not manages to reproduce that. .

- [ ] Make a doc for the settings in Endnote

[2020-09-18 14:34] nathcast commented on #55
Open bibliography in endnote. If not woking properly, check stettings
Use eRA Tab Delimited export filter
Import the text file in exel
Check the records - Especally ensure that there are no rogue lines that denote a carriage return in any of the records

save as csv (comma delimited)

in dbeaver,
import csv, using windows-1252

For the next few times I will do it until I have clear documentation

[2020-09-18 15:04] nathcast opened #56 "php: papers.php"
- [x] url should open in a new window
- [x] the drop list to chose experiment does not work

[2020-10-02 12:43] nathcast commented on #30
There is now a quick form to enter an email address.
At the moment, the email address is entered as a cookie
If the cookie is there, the email address is shown and we can use that to do masses of thins/

I have also prepared a table to add the email address to the database: there will need to be a verification code .
So an email address needs to be registered and verified to work.
Verifying and em

[2020-10-22 09:51] nathcast commented on #30
Demonstrated at last meeting

[2020-10-22 09:53] nathcast commented on #30
HI; I have I think finised this and would like it tested by you guys to iron out little things,
Plese let me know (here???) what you think, thanks,

[2020-10-22 11:22] nathcast commented on #30
What I want to do now is return to same window in the browser .. So need the page to name the window / tab (using jquery) and then make the link that target that page..
This will prevent opeining other pages.

[2020-10-28 09:21] nathcast commented on #54
Highfield Bare Fallow has no "design" so that is an example where the site tab needs to go.
In this design.json file, there are fields but there are empty:
`[
    {
        "administrative": {
            "type": "experiment",
            "identifier": null,
            "localIdentifier": null,
            "name": null,
            "url": null,
            "description": ""
        },
        "des

[2020-10-29 15:06] nathcast commented on #54
design is not shown when design[0]['administrative']['identifier'] is null (always has an identifier... )

site is not shown when site['administrative']['name'] is null : assuming a site always has a name (sometimes identifier is missing)

this seems to work. We can discuss the validitiy of these assumptions.

[2020-10-29 15:09] nathcast commented on #30
I can rename the window, but a link from email to a named window does not load the link in that window. So we have to work with another window being opened. At least the window keeps the history.

[2021-01-15 11:27] #42 closed, assigned to richardostler, nathcast

[2021-01-15 11:28] #49 closed, assigned to richardostler, nathcast

[2021-01-15 11:31] richardostler commented on #41
Hi Nath, I'm a bit confused about this issue - can we just ignore and remove?

[2021-01-15 11:34] #46 closed, assigned to richardostler, Perrymas, mglendining

[2021-01-15 11:34] #39 closed, assigned to richardostler, nathcast

[2021-01-15 11:37] #21 closed, assigned to richardostler, Perrymas, mglendining

[2021-01-15 11:38] richardostler commented on #40
Can o longer replicate as pages have been updated, therefore assume closed

[2021-01-15 11:38] #40 closed, assigned to richardostler, nathcast

[2021-01-15 11:39] #44 closed, assigned to richardostler, Perrymas, mglendining

[2021-01-15 12:16] #45 closed, assigned to richardostler, mglendining

[2021-01-15 12:34] #53 closed, assigned to richardostler, nathcast

[2021-01-15 12:36] richardostler commented on #55
Hi @nathcast, I'm not clear if this is ready to be closed. Has this been tested further and the documentation available?

[2021-01-15 12:37] richardostler commented on #56
Assume this is ok

[2021-01-15 12:37] #56 closed, assigned to nathcast

[2021-01-15 12:37] #54 closed, assigned to richardostler, nathcast

[2021-01-15 15:00] nathcast commented on #55
It works> I have also made a CheatSheet documentation file that resides in the bibliography folder. I

[2021-01-15 18:19] richardostler commented on #41
I've added this page with content.

[2021-01-15 18:19] #41 closed, assigned to richardostler, nathcast

[2021-01-15 18:31] richardostler opened #57 "_bottom.Tidy up the page footer"
Can you tidy up the page footer.

- [x] reduce the size of the Rothamsted and BBSRC logos - similar size to the Rothamsted site should be fine
- [x] I don't think we need all the text, please can you remove all except for the sentence about contacting the e-RA team
- [x] Can you reduce the font size for the the sentence about contacting e-RA, change the font to dark and background to white and rem

[2021-01-16 12:08] richardostler commented on #57
Some of the text ("You can browse....") is also duplicated on the homepage, appearing both in the body and footer of the page.

[2021-01-18 08:40] richardostler commented on #15
Edited this as I had a bit of confusion since the old text hadn't been updated from the newer HTML version. I've now updated and made two minor changes - added a reference to the JCoPR and removed the data quality statement as, as has been pointed out above, it is out of date. Hopefully there will be revised documentation we can refer to coming out of the digital transformation project!

Closing t

[2021-01-18 08:58] #15 closed, assigned to Perrymas, mglendining

[2021-01-18 09:55] mglendining commented on #15
FIne. I just wondered if the size of the titles (Sample Collection Procedure, etc) could be a bit smaller. Thanks

[2021-01-20 13:19] nathcast commented on #57
Regarding the display: when it is full width, it means that there is a div too many in the file above: so that needs to be corrected in the relevant pages.

[2021-01-20 13:22] nathcast opened #58 "css: review the size of headings accross the site"
H1 is too big and so forth:

The spirit of Bootstrap (which is the css tool I am using, is to use the h1-h6 as a way to indicate size of headers.
the Body has a font size of 1rem, Any heading would then be higher .
The way to do things in bootstrap is to assign to text a h number according to the size we want.

these are the original values.

`h1, .h1 {
  font-size: 2.5rem; }

h2, .h2 {
  font-siz

[2021-01-20 13:46] nathcast opened #59 "_dataset.php: reorganise what is in accordion and not"
Regarding what is in the dataset page:
**at the moment we have first, under a simple h3**

- abstract
- methods,
- table of contents.
- ...

under accordion:

- related identidiers
- funding
- licence and data access

**It is suggested to change it so that we have**

At the top under h3 headings (for which the size will be revisited in Issue 58)
- Abstract
- Related Identifiers
- Data access and l

[2021-01-20 14:04] nathcast opened #60 "_dataset: improve download button"
When Download is clicked:

- [x] file found and downloaded
- [x] record added to eRAManga to record user, dataset downlaoded, date (and other data we can think off)
- [x] pop up close
- [x] display a line saying when downloaded.
- [x] add function to all downloads (anonymous is not logged in.

s.

[2021-01-20 14:42] nathcast opened #61 "expt.php: have teh experiment link to appropriate site page"
At adequate places, use the experiment code first letter to link the experiment to a site.

[2021-01-20 14:45] nathcast opened #62 "_dataset.php: improve the way the related identifier are displayed"
Use the DOI from the related identifier to pull the fill referencefrom eRApaper
Related identifiers are either Texts or Datasets in our system.

this is a good dataset to test: http://local-info.rothamsted.ac.uk/eRA/era2018-new/dataset/rms/02-RMAAtemp

TODO:
For this update:
- [x] on web page: have related identifier sorted into Related Documents, Related Datasets, Other versions of the datasets

[2021-01-21 10:53] nathcast opened #63 "includes/user: registration - email to curators on confirmation"
At the moment, the email to curators is sent at the same time as the confirmation email to the user.
It would be nice to only send email to curators when the email address is confirmed.

That will be more important when the email is sent about Request.
At the moment, we could just not removed the curators from the list of email sent.

[2021-01-28 13:05] nathcast commented on #59
I have made accordions where needed . Please comment

[2021-01-28 13:52] nathcast commented on #61
I have added the name of a site and a link to the site page on Summary tab, site tab.

[2021-02-10 11:58] nathcast opened #64 "_dataset: hide provenance of files"
Att he moment, the way the file is sinked to would make it easy to work out a pattern
We could find a way to make that hidden:

- [ ] Have assets in a different area of the site,
- [ ] on download: work out a way that the path is not a real path.

[2021-02-10 13:10] nathcast commented on #57
The bottom is quite short now. I hope we have no pages that will be too short.

[2021-02-22 10:43] #61 closed, assigned to richardostler, nathcast

[2021-02-22 10:47] richardostler commented on #59
I think this looks OK - closing

[2021-02-22 10:47] #59 closed, assigned to richardostler, nathcast

[2021-02-22 10:48] richardostler commented on #57
Looks much better :)

[2021-02-22 10:48] #57 closed, assigned to richardostler, nathcast

[2021-02-22 10:48] #55 closed, assigned to richardostler, nathcast

[2021-02-22 10:50] richardostler commented on #26
@nathcast I thought this was resolved?

[2021-02-22 10:51] richardostler commented on #23
@nathcast is still an issue or has the code been updated?

[2021-02-23 09:35] nathcast commented on #60
I am happy with that for now.

[2021-03-02 11:00] nathcast commented on #23
Hi; I have not updated to PDO, but I am using the mysqli php code which works. So this is not done, but I do not believe is urgent.

[2021-03-02 11:09] nathcast opened #65 "orphans.php: page for orphan datasets"
We have datasets that are not related to a LTE.

- [x] orphan.php lists the orphan datasets
- [x] When viewing an orphan dataset, the expt need to come back to expt=rro
- [x] If expt = rro: use the orphan.php page.

a dataset in rro expt do not have expt: so put an iff in the _dataset page.

[2021-03-02 11:11] nathcast commented on #26
Hi: when we when back from the Lockdown database, the grades where lost: please check that they are still ok, or review them. thanks,

[2021-03-02 11:15] Perrymas commented on #26
I did that last week, but am unable to open datacite today :-(

[2021-03-02 11:42] mglendining commented on #26
Have you managed to open Datacite?

________________________________
From: Perrymas <notifications@github.com>
Sent: 02 March 2021 11:15
To: Rothamsted-Ecoinformatics/eRA <eRA@noreply.github.com>
Cc: Margaret Glendining <margaret.glendining@rothamsted.ac.uk>; Assign <assign@noreply.github.com>
Subject: Re: [Rothamsted-Ecoinformatics/eRA] Grade Datasets (#26)

I did that last week, but am unable to

[2021-03-02 11:56] nathcast opened #66 "_datasets: order datasets"
expt.php
datasets need to be ordered by categories and then by name ; that woul dmake them easier to find.

[2021-03-02 11:58] nathcast opened #67 "_contact.php: update contacts"
Use the green site page to update the _people page

[2021-03-02 12:12] Perrymas commented on #26
I have - but I don't have the expanded boxes!

From: Margaret Glendining <notifications@github.com>
Sent: 02 March 2021 11:43
To: Rothamsted-Ecoinformatics/eRA <eRA@noreply.github.com>
Cc: Sarah Perryman <sarah.perryman@rothamsted.ac.uk>; Assign <assign@noreply.github.com>
Subject: Re: [Rothamsted-Ecoinformatics/eRA] Grade Datasets (#26)

Have you managed to open Datacite?

_______________________

[2021-03-02 12:44] nathcast opened #68 "expt.php: videos"
Initial query: Do we want to embed or do we want to link?

Now obsolete> we move the Videos to the Media tab and just have a link.
I guess later, we could have also a thumbnail? But at the moment a link is enough!

[2021-03-02 12:52] nathcast opened #69 "_dataset: subscribe to datasets - dataset updates."
When a dataset has no files yet: the button should serve as a way to subscribe to the dataset so that an email is served when the dataset is updated.
When a dataset is updated that users have downloaded or subscrided to, an email can be sent to them.
At the moment, we can send an email to all who have subscribed with the list of updates.
This goes well with the idea of having an datasetUpdated tab

[2021-03-02 13:42] nathcast commented on #65
http://local-info.rothamsted.ac.uk/eRA/era2018-new/orphans.php : this is the page that list the orphan datasets: the ones that have no LTE associated with them:
PLease check that you like it especially the text:
`These datasets have been produced by the eRA team out of data from an experiment that has not yet got a Long-tterm experiment status`

[2021-03-02 15:50] nathcast commented on #66
In the _datasets.php, I need to order the datasets according to the "dataset_type"
Next we could sort by year (ASc or desc?) or shortname ? or name?

[2021-03-03 09:29] nathcast commented on #65
call it OTHER

[2021-03-03 10:25] nathcast opened #70 "_dataset.php: detailed contributor information"
ON the right side of the dataset page, have a table to list contributors and how they contributed. Use regex tpo math camelcase with a space.

[2021-03-03 11:01] nathcast commented on #70
code could includetry  this: $str = preg_replace('/([a-z])([A-Z])/', "\\1 \\2", "DataCurator");

it is;
[code]

The info we have on a contributor is:

[code]

so I could include a link to the ORCID page or sort by familyName for example. I made it a list; it could be a table. I could sort by roles.

[2021-03-03 14:37] Perrymas commented on #70
As we have discussed before 'the roles' attributed to the contributors are very restrictive e.g. Wendy, Melanies etc are listed as Data Collectors. I am not sure they would like that as a named role.
Including the Orchid id may help this as the link can be followed to get precise detail on their roles.
In your first comment above, when you say on 'the right hand side' do you actually mean the left

[2021-03-03 15:12] Perrymas commented on #70
Hi Nathalie, I have seen what you have done now - listing the roles of the contributors on the 'RHS'/main body of the web page of the datasets - looks good :) @nathcast

[2021-03-03 15:25] nathcast commented on #70
Some contributors will not have ORCID IDs. The roles here are restricted by the schema.

[2021-03-03 15:31] nathcast commented on #62
The related identifier relationship type can be:
[code]

It is suggested that related identifiers that are datasets are either related datasets, or previous.
I suggere we use Other versions : rt_id 13 and 14  (previous or later)
and related datasets for rt_id other than 13 and 14.

[2021-03-03 15:35] Perrymas commented on #70
Yes, sure,  it will be good to include the Credit's page from current website is so useful - to have a general overview of peoples roles. I will update that with some extra information Wendy Gregory has just sent.

[2021-03-03 15:44] nathcast commented on #62
See http://local-info.rothamsted.ac.uk/eRA/era2018-new/dataset/rms/02-RMAAtemp to see this in action

[2021-03-03 15:52] mglendining commented on #70
@Perrymas is it worth asking Wendy what they would like to be described as, if you think 'data collector' is not what they want? We could call them 'researcher', though I don't think they think of themselves as that. Any other ideas from the list of possibles?

[2021-03-03 15:53] mglendining commented on #70
Sorry, I know I am not supposed to close this. Not sure how else to send the message.

[2021-03-03 15:54] nathcast commented on #66
We decided in meeting that it is good like that. as there are not that many datasets to view once they are in categories.
I think that this issue is sorted.
Nath

[2021-03-03 15:58] nathcast commented on #70
These are the only two that would apply to them. If we want something else, it would fall out of the Schema. You can be a bit more precise in the package? you can describe in the spreadsheet with more details.

(save the comment by clicking the big green button)

[2021-03-03 16:00] Perrymas commented on #70
I think we mentioned ' researcher' as an option in the meeting we had with Wendy, but she did not think that was appropriate (nor 'technician'). If we list the techniques they do on the credits page - which I will add soon - that will be useful. Chris Hall and Andy etc are also described as collectors in some datasets. Maybe Wendy and team are actually 'Data Creators' ?

[2021-03-03 16:01] mglendining commented on #65
Hi @nathcast thanks for changing to 'other' I would prefer the text below to read
Datasets produced from other field experiments at Rothamsted (not long-term experiments)
Thank you

[2021-03-03 16:05] Perrymas commented on #65
Yes, I agree, or perhaps 'Datasets derived from other field experiments at Rothamsted (not Classical or long-term experiments)'

[2021-03-03 16:13] mglendining commented on #65
Happy with that.

[2021-03-03 16:14] mglendining commented on #70
@Perrymas do you want to check with Wendy what she is happy with Sarah? Give her the options available in Datacite.

[2021-03-03 16:49] Perrymas commented on #70
ok, when i send her the updated credits page I will explain our predicament and clarify what she's prefer :-)

[2021-03-17 12:29] nathcast commented on #33
See email trail about it and https://rothamsted.sharepoint.com/:x:/r/sites/e-RA/_layouts/15/Doc.aspx?sourcedoc=%7B95D113DA-F5BF-44E0-9FC9-4C5D4A93A9C4%7D&file=Revised%20questions%20for%20data%20requests.xlsx&wdLOR=cFEE9EFE3-97CA-4BB5-A27E-79FC7FF1D80A&action=default&mobileredirect=true#
)
(file in general/website development

[2021-03-17 15:24] nathcast commented on #43
I have made a lot of corrections to the 4 met stations pages:
Will you look at rms/extreme.html
and also in met: the school pages
We also need images for bms, wms and sms

[2021-03-17 15:25] nathcast commented on #52
I am closing this becasue this is routine work and does not need to be in GIT

[2021-03-17 15:25] #52 closed, assigned to Perrymas, mglendining

[2021-03-24 11:40] nathcast commented on #33
Hi: we are not working anymore with these 4 forms: so I would like to clode that and start an ew issue to track the work I do on the new registration form.

[2021-03-24 11:58] mglendining commented on #33
OK, I'm happy with that.
M

________________________________
From: Nathalie Castells-Brooke ***@***.***>
Sent: 24 March 2021 11:40
To: Rothamsted-Ecoinformatics/eRA ***@***.***>
Cc: Margaret Glendining ***@***.***>; Assign ***@***.***>
Subject: Re: [Rothamsted-Ecoinformatics/eRA] content: registration forms (#33)

Hi: we are not working anymore with these 4 forms: so I would like to clode that and

[2021-03-24 11:59] nathcast opened #71 "feature: Registration Form"
We have a registrstion form and user managment for the agregated datasets. I need to make a registration form for the registration of users to the eRAdata (disagregated datasets, DET)

- [ ]
- [x] add fields and tables to eRAManga
- [x] design the different parts of the forms on paper
- [x] Design the form
- [x] a progress bar
- [x] amend user.php to incorporate the new fields in the database as a

[2021-03-24 12:07] nathcast opened #72 "_dataset: date published"
Remove publication date, and tidy up the problme with the dates:
The minting tool must only add DOI_created the first time, and as teh DOI_created is added, then add a record in document-date: data available
Then (if DOI_created) add record to document-dates : dateUpdated (so curator don;t have to manage that.
The publication date is Date Created.
then it is all teh updated dates, and we list only

[2021-03-24 12:07] richardostler commented on #33
OK, I'll close this one then

[2021-03-24 12:07] #33 closed, assigned to richardostler, nathcast

[2021-03-24 16:05] nathcast commented on #71
Thinking Space and backgroun information:

There is an exel spreadsheet that has the fields needed in the form and who sees which.
9https://teams.microsoft.com/l/file/95D113DA-F5BF-44E0-9FC9-4C5D4A93A9C4?tenantId=b6883625-8941-4342-b0e3-7b8cc8392f64&fileType=xlsx&objectUrl=https%3A%2F%2Frothamsted.sharepoint.com%2Fsites%2Fe-RA%2FShared%20Documents%2FeRA%20web%20site%20update%2FRevised%20questions%

[2021-03-25 15:21] mglendining commented on #43
Hi Nath
I'm not quite sure what you want doing with the Schools and Extremes pages.  Sarah has put these together, so probably better to ask her than me (not wishing to pass the buck...).
THanks
Margaret

________________________________
From: Nathalie Castells-Brooke ***@***.***>
Sent: 17 March 2021 15:24
To: Rothamsted-Ecoinformatics/eRA ***@***.***>
Cc: Margaret Glendining ***@***.***>; Assign

[2021-03-25 15:22] mglendining commented on #33
I have made comments on this in the file.
M

________________________________
From: Nathalie Castells-Brooke ***@***.***>
Sent: 17 March 2021 12:30
To: Rothamsted-Ecoinformatics/eRA ***@***.***>
Cc: Margaret Glendining ***@***.***>; Assign ***@***.***>
Subject: Re: [Rothamsted-Ecoinformatics/eRA] content: registration forms (#33)

See email trail about it and https://rothamsted.sharepoint.com/❌/r/

[2021-03-25 15:25] nathcast commented on #71
25/03/2021:
This is the start of the registration for raw data: there will be three pages: page 1 is general information about the user. Page 2 will deal with the ifs and buts of students, academia, in or out of rothamsted and so is different depeding on what is entered in page 1. Page three will deal with the data requests questions. The database backbone is ready. I need now to make the page 2 i

[2021-03-25 15:28] Perrymas commented on #43
Yes sure, I have those both on my list to do 😊

From: Margaret Glendining ***@***.***>
Sent: 25 March 2021 15:22
To: Rothamsted-Ecoinformatics/eRA ***@***.***>
Cc: Sarah Perryman ***@***.***>; Assign ***@***.***>
Subject: Re: [Rothamsted-Ecoinformatics/eRA] content: rms - Rothamsted Met station page (#43)

Hi Nath
I'm not quite sure what you want doing with the Schools and Extremes pages. Sarah ha

[2021-03-25 15:28] Perrymas commented on #33
I tried seeing that and could not….

From: Margaret Glendining ***@***.***>
Sent: 25 March 2021 15:23
To: Rothamsted-Ecoinformatics/eRA ***@***.***>
Cc: Sarah Perryman ***@***.***>; Assign ***@***.***>
Subject: Re: [Rothamsted-Ecoinformatics/eRA] content: registration forms (#33)

I have made comments on this in the file.
M

________________________________
From: Nathalie Castells-Brooke ***@***.*

[2021-04-21 07:20] #66 closed, assigned to richardostler, nathcast

[2021-04-21 07:20] #65 closed, assigned to richardostler, nathcast, Perrymas, mglendining

[2021-04-21 07:22] #60 closed, assigned to richardostler, nathcast

[2021-04-21 07:24] richardostler commented on #36
Formatting on both the Hoosfield Crop nutrients page and More page is messed up

[2021-04-21 07:32] richardostler opened #73 "Geescroft Wilderness - Datasets tab but no datasets"
Gesscroft Wilderness Experiment pages has a Datasets tab but no datasets are listed.

What we want is:

- [x] no dataset or all datasets have isREADY == 0 >>> no display in 2021 or 2018
- [ ] if all the datsets in the list are isReady == 1 then display tab in 2018 but not in 2021
- [ ] if at least one dataset has "isReady == 2" then display in 2021 and 2018

[2021-04-21 07:46] richardostler commented on #68
I can see current set-up is to link out to a new tab. I think this is fine for now but we can revisit after the site is released. Moving to 2022 project.

[2021-04-21 07:50] richardostler commented on #63
Lets leave as it is for now and we can monitor to see if this is a problem and revisit then

[2021-04-21 07:50] #63 closed, assigned to nobody

[2021-04-21 07:51] #62 closed, assigned to nathcast, Perrymas, mglendining

[2021-04-21 08:11] richardostler commented on #47
Not sure what the status of this is - I can still see red comments on a few sections e.g. http://local-info.rothamsted.ac.uk/eRA/era2018-new/station/rms/extreme#documents plus Schools, public and Equipment pages. Schools and Public pages both look more than good enough, but Equipment is still empty

[2021-04-21 08:14] richardostler commented on #35
This looks like it has been done?

[2021-04-21 08:25] richardostler commented on #72
Decided at team meeting to rename creation date to publication date. Once this has been done move issue to 2022 project

[2021-04-21 08:31] #70 closed, assigned to richardostler, nathcast, Perrymas, mglendining

[2021-04-21 08:32] #26 closed, assigned to nobody

[2021-04-21 08:32] #30 closed, assigned to richardostler, nathcast, Perrymas, mglendining

[2021-04-21 08:35] richardostler commented on #47
Removed Equipment from this issue - create a new one for 2022 (Tony to help). @nathcast to tidy up schools and publics then close

[2021-04-21 08:58] #51 closed, assigned to Perrymas

[2021-04-21 08:59] richardostler commented on #50
No summary datasets yet - may consider this for later

[2021-04-21 09:03] richardostler commented on #35
Links part needs updating @Perrymas

[2021-04-21 09:05] richardostler commented on #43
@Perrymas to update Extremes then can be closed

[2021-04-21 09:06] #72 closed, assigned to nathcast

[2021-04-21 13:25] nathcast commented on #36
I have found the bug that was messing all up!!!!! great news. :)

[2021-04-22 09:11] nathcast commented on #73
Hi.
The "datasets.json" file in there was a legacy. At the moment there are no dataset that are ready to even check so I have removed that. Now the tab is not showing. (I used to display all the datasets: now only showing datasets that have a 1 or above.

[2021-04-22 09:19] nathcast commented on #73
I have also amended the condition for displaying the dataset tab in the 2021 version to (has at least one dataset that is isReady == 2 so that I won;t have an emtpy tab if all the datasets in the list are isReady == 1... :)
so I think that is ready but I have not checked that this function works.

[2021-04-22 11:30] Perrymas commented on #50
I checked the text - ok, except can the link to ECN open in a new page 'target blank' please.
I found a photo of Brooms barn met station to  add as there are currently no images - saved it in images>brooms barn.
Otherwise, ready to go as a basic weather site entry.

[2021-04-22 14:08] Perrymas commented on #35
The data and chart for soil pH is in the folder rpg OAPsoilpH - so they can be put on the new website (the species diversity ones are already showing on the website).

[2021-04-22 14:20] Perrymas commented on #35
Hi. I have looked at the links we currently have on green website - and most are not suitable to have on our new website - they are either of people (Silvertown and Crawly) or the Guide book. However, it would be good to link to the ECN Park Grass site and the Genomic Observatory. However, the latter link is no longer working - I am trying to find a recent working version to use, other wise will n

[2021-04-22 14:24] Perrymas commented on #35
I have also added the Park Grass Ecological Continuity Site link.

[2021-04-22 16:57] Perrymas commented on #47
I  have worked on schools and public pages today. Added Excel files to folder as links were not working and editing broken links. I have made comments at tops of files - edits required for Nathalie. Also, query why the Public page is title 'schools' and yet in file it says Public...?

[2021-04-22 20:14] mglendining commented on #36
I have updated KeyRefHFnutrients in doclist.html. I hope this will add the references for Hoosfield crop nutrients.

[2021-04-22 20:37] mglendining commented on #36
All completed.

________________________________
From: Richard Ostler ***@***.***>
Sent: 21 April 2021 10:01
To: Rothamsted-Ecoinformatics/eRA ***@***.***>
Cc: Margaret Glendining ***@***.***>; Assign ***@***.***>
Subject: Re: [Rothamsted-Ecoinformatics/eRA] content: rhb2 (#36)

CAUTION: This email originated from outside of the organisation. Do not click links or open attachments unless you recog

[2021-04-23 10:20] nathcast commented on #36
I have added the "Soil chemical and physical properties" item to deal with in this issue as it is RHB2 content. That page is not quite finished.

[2021-04-26 10:40] mglendining commented on #36
Thank you. The references are a bit confused. It should just be KeyRefHFSoils (with an s).
The links to the different headings don't work, eg A NAME="SEC6"

I'll add the SOC OA to datacite and get that organised.
How do I make a link to a DOI?

Thanks
Margaret

________________________________
From: Nathalie Castells-Brooke ***@***.***>
Sent: 23 April 2021 11:20
To: Rothamsted-Ecoinformatics/eRA *

[2021-04-26 15:44] mglendining commented on #34
I have checked all the Broadbalk 'more' pages. They are all fine, except we need to add a link to the cropping DOI once it is minted.
We don't need to mint dois for the other pdfs, except perhaps the lists of weeds.

[2021-04-28 08:08] #73 closed, assigned to nathcast

[2021-04-28 08:51] richardostler commented on #19
https://developers.google.com/recaptcha/docs/v3

[2021-04-28 09:04] nathcast opened #74 "content: menus"
List here menu items that need to be added and need to be removed or comments

- [x] make the info.php  NICELINK:

[2021-04-28 09:08] #58 closed, assigned to nobody

[2021-04-28 09:09] #43 closed, assigned to Perrymas, mglendining

[2021-04-28 09:53] #36 closed, assigned to mglendining

[2021-04-29 09:12] nathcast commented on #35
There are no references with the keywords KeyRefHarvesting and KeyRefComposition.

I have changed my function so that if a Keyword (KeyRef) does not pull references, then nothing shows (befreo that, it only showed the title "Key references"
Nath

[2021-04-29 09:40] nathcast commented on #35
The comment stating that people can ask more information is actually on the bottom of all the pages, therefore can be removed from the body of these "more..." pages. When the page inquestion refers to a lot of DATASETS, we could have a message pointing to the newGold.php form to fill in teh form.
<p>
	The DATASETS mentioned above are available to users via our eRAdata
	platform. You may request ac

[2021-05-04 13:12] Perrymas commented on #35
Ok, thanks nathalie

From: Nathalie Castells-Brooke ***@***.***>
Sent: 29 April 2021 10:13
To: Rothamsted-Ecoinformatics/eRA ***@***.***>
Cc: Sarah Perryman ***@***.***>; Mention ***@***.***>
Subject: Re: [Rothamsted-Ecoinformatics/eRA] content: rpg5 (#35)

CAUTION: This email originated from outside of the organisation. Do not click links or open attachments unless you recognise the sender and kn

[2021-05-05 08:25] #47 closed, assigned to Perrymas, mglendining

[2021-05-05 10:47] mglendining commented on #74
Can we have a bit more detail here please? I'm not sure what this means. Thanks

[2021-05-05 11:23] nathcast commented on #19
Paul’s code is really only there to prevent malicious user input, so it seems redundant to me to check this on every page as most pages won’t expect user input. Therefore it is simply better to strip any unexpected input as it arrives. Of course if you are passing parameters in the code, you should always sanitize before using.

I have run a few free test tools and the below HTTP headers come up f

[2021-05-05 13:55] nathcast commented on #19
IT gave me a report:
http://local-info.rothamsted.ac.uk/eRA/era2018-new/zeRA_Security_Scan2021-04-15.html

a few issues, but nothing serious. I will go through them but they are not a problem.
N

[2021-05-05 14:51] Perrymas commented on #74
What page does this refer to?

From: Margaret Glendining ***@***.***>
Sent: 05 May 2021 11:48
To: Rothamsted-Ecoinformatics/eRA ***@***.***>
Cc: Sarah Perryman ***@***.***>; Assign ***@***.***>
Subject: Re: [Rothamsted-Ecoinformatics/eRA] content: menus (#74)

CAUTION: This email originated from outside of the organisation. Do not click links or open attachments unless you recognise the sender and

[2021-05-05 15:43] nathcast commented on #74
This is refereeing to the header drop down menu.

Sent from my Galaxy

-------- Original message --------
From: Perrymas ***@***.***>
Date: 05/05/2021 15:51 (GMT+00:00)
To: Rothamsted-Ecoinformatics/eRA ***@***.***>
Cc: Nathalie Castells ***@***.***>, Assign ***@***.***>
Subject: Re: [Rothamsted-Ecoinformatics/eRA] content: menus (#74)

CAUTION: This email originated from outside of the organisati

[2021-05-06 13:03] mglendining commented on #74
Dear Nathalie
I'm still not sure what I am supposed to be doing with this. Thanks
M

________________________________
From: Nathalie Castells-Brooke ***@***.***>
Sent: 05 May 2021 16:43
To: Rothamsted-Ecoinformatics/eRA ***@***.***>
Cc: Margaret Glendining ***@***.***>; Assign ***@***.***>
Subject: Re: [Rothamsted-Ecoinformatics/eRA] content: menus (#74)

CAUTION: This email originated from outsid

[2021-05-11 12:48] nathcast commented on #71
HI : this works: please test and try break it and let me know if there are some snags that are urgent.

[2021-05-11 12:51] nathcast commented on #19
There are no major points, I have done the Medium ones that I could do.
THere is  no flag for SQL injection: the user has limited rigts so no real issues there.

[2021-05-11 12:52] nathcast commented on #19
A solution to really deal with SQL injection is that I modify the way I do the query to use prepared statements. That could be obj for after launch.

[2021-05-13 08:43] richardostler opened #75 "Migrate news and updates page from old site"
Migrate news and updates page from old site to new site. This can wait until after launch

[2021-05-13 08:43] #71 closed, assigned to richardostler, nathcast

[2021-05-13 08:44] #19 closed, assigned to nathcast

[2021-05-18 11:02] nathcast opened #76 "navigation: add proper # when move to tab (enable properbookmarking)"
When a tab is clickon on, the URL stays the same. We might want to change the URL so that people can bookmakr the page opened at the relevant tab (or send links at that tab) Will be useful for twitter and teh like too
At the same time, solve issue #6 (highlighting of the tabs properly)

[2021-05-26 08:50] nathcast opened #77 "eRA search engine"
eRAseek

- [x] Search Curated Keywords
- [x] Keyword Cloud
- [ ] Search Index (create an index of all the words: so searches all the text >> NO
- [x] search Curated keywords in "more" (related Documents) pages
- [ ] search curated keywords in "experiments information?

[2021-06-10 08:44] nathcast opened #78 "_dataset: providing support for external datasets"
The possibility to add external datasets that have been created using samples or data from LTEs.
Our first external dataset is the ANdy neal study: rrn1/METAGEN in the repo and the datacite database and the link is at:
http://local-info.rothamsted.ac.uk/eRA/era2018-new/dataset/rrn1/01-METAGEN

Issues to look at:
It  is preferable that the same entry system is used to enter externals as internals h

[2021-06-10 08:49] nathcast commented on #78
I have done the back-end for this feature.
Now, I am going to continue the front end work and modify the dataset page so that the external dataset shows only what is needed. I have made a start. I have added the rest of the team for feedback and comments as I do that.

[2021-06-10 08:53] nathcast commented on #78
Design options:
I had the options to either design a brand new style for the external datasets, or put ifs and elses in the one we have now. I have chosen the second option.

[2021-06-10 09:03] mglendining commented on #78
OK, thanks. I can't see it anywhere, will you send us a link when you need comments.

________________________________
From: Nathalie Castells-Brooke ***@***.***>
Sent: 10 June 2021 09:54
To: Rothamsted-Ecoinformatics/eRA ***@***.***>
Cc: Margaret Glendining ***@***.***>; Assign ***@***.***>
Subject: Re: [Rothamsted-Ecoinformatics/eRA] _dataset: providing support for external datasets (#78)

CAUTI

[2021-06-10 09:47] nathcast commented on #78
An example of external dataset is at http://local-info.rothamsted.ac.uk/eRA/era2018-new/dataset/rrn1/01-METAGEN
It is the dataset in rrn1 / METAGEN in teh repository and datacite db

[2021-06-10 09:48] nathcast commented on #78
I have updated the datacite interface for this new feature> please ensure you pick up the latest version. :)

[2021-06-24 13:14] #74 closed, assigned to richardostler, nathcast, Perrymas, mglendining

[2021-06-24 13:16] nathcast commented on #78
I have corrected the code the shows or not contributors and dates/ There is no data for date so the dates do not show. WHen dates are added to the list, the the page should pick it up. Please add at least one date to see if that works/

[2021-06-24 13:19] nathcast opened #79 "_dataset: link keywords to other datasets that have these keywords"
It would be nice to see a link to the keywords and theat the link the datasets which have the same keywords.

The search app is at http://local-info.rothamsted.ac.uk/eRA/era2018-new/keyword.php :

These are the TODOs from the 14/07 meeting

- [x] remove the submit button (submit on click on an item
- [x] make the list of keywords more obviously a list
- [x] remove the items that have no datasets

[2021-06-24 13:19] mglendining commented on #78
Hi
I have set the date as 'available'. Is that OK?
M

________________________________
From: Nathalie Castells-Brooke ***@***.***>
Sent: 24 June 2021 14:16
To: Rothamsted-Ecoinformatics/eRA ***@***.***>
Cc: Margaret Glendining ***@***.***>; Assign ***@***.***>
Subject: Re: [Rothamsted-Ecoinformatics/eRA] _dataset: providing support for external datasets (#78)

CAUTION: This email originated from o

[2021-06-24 14:06] nathcast opened #80 "registerGold: add field "where heard from""
Add a "How did you hear about this " field to questionairee

- [x] to dabase
- [x] field in PHP
- [x] check the variable is passed and is persistent accross the pages of the form
- [x] write to email
- [x] write to database

[2021-06-24 14:32] nathcast commented on #80
from Sarah
Regarding the question for people registering that we briefly discussed this morning:-

The list we currently have in our Access Database of Users is;

•	Contact
•	Newsletter
•	Poster
•	Web
•	Other (specify)

Do you all think we could also add;

•	Twitter
•	LinkedIn
•	Staff
•	Previous user

Any changes/other options?

Sarah
Notes from emails.
I don't think we need poster or newsletter a

[2021-06-29 14:05] #34 closed, assigned to richardostler, Perrymas, mglendining

[2021-06-29 14:05] #35 closed, assigned to nathcast, Perrymas

[2021-06-30 14:27] nathcast commented on #80
Please check on the 2018 interface . Thanks,

[2021-07-06 13:57] richardostler commented on #80
I'm happy with this, closing

[2021-07-06 13:57] #80 closed, assigned to richardostler, nathcast, Perrymas, mglendining

[2021-07-06 14:01] richardostler commented on #78
@nathcast, @mglendining is this resolved? I can see dates for the metagenomic dataset on era-2018?

[2021-07-06 14:04] mglendining commented on #78
This isn't yet completed. Still waiting to hear back from Andy Neal. I'll chase him.
M

________________________________
From: Richard Ostler ***@***.***>
Sent: 06 July 2021 15:01
To: Rothamsted-Ecoinformatics/eRA ***@***.***>
Cc: Margaret Glendining ***@***.***>; Mention ***@***.***>
Subject: Re: [Rothamsted-Ecoinformatics/eRA] _dataset: providing support for external datasets (#78)

CAUTION: Thi

[2021-07-14 13:29] nathcast commented on #79
I am trying to use the up and down arrows to navigate the list of results. and so far, I have not managed

Solutions I have tried:
https://stackoverflow.com/questions/8902787/navigate-through-list-using-arrow-keys-javascript-jq
https://stackoverflow.com/questions/8902787/navigate-through-list-using-arrow-keys-javascript-jq

[2021-07-14 14:28] nathcast commented on #79
The search app is at http://local-info.rothamsted.ac.uk/eRA/era2018-new/keyword.php :
These are the TODOs from the 14/07 meeting

- [x] remove the submit button (submit on click on an item
- [x] make the list of keywords more obviously a list
- [x] remove the items that have no datasets
- [ ] make the list navigable using up and down arrows

[2021-07-15 13:30] nathcast commented on #67
I have made the page http://local-info.rothamsted.ac.uk/eRA/era2018-new/info/credits to contain the past and present staff in one place. I have used the original credit's page from the old site .I have reformated using a more logical type and will eventually add margin.
I have added Claudia and Vera which were missing.

Please review, and add years when known, and people that have beed omitted. Th

[2021-07-15 13:35] mglendining commented on #67
Dear Nathalie
Sorry, but I have no idea what this means! It says I don't have any public repositories yet.
Thanks
Margaret

________________________________
From: Nathalie Castells-Brooke ***@***.***>
Sent: 15 July 2021 14:31
To: Rothamsted-Ecoinformatics/eRA ***@***.***>
Cc: Margaret Glendining ***@***.***>; Assign ***@***.***>
Subject: Re: [Rothamsted-Ecoinformatics/eRA] _contact.php: update con

[2021-07-15 13:47] mglendining commented on #67
Claudia Underwood and I started working on e-RA in Dec 2008, when Gill Tuck left.

[2021-07-19 08:36] mglendining commented on #67
Note spelling of Vera Wiltsher

[2021-09-16 09:10] nathcast opened #81 "_derived-variable- internal links problem"
I would like to report that the links on http://www.era.rothamsted.ac.uk/info/met/derived_variables  send you to the wrong location. Instead of dropping down the page to where the variable calculation/formula is. It maps to http://www.era.rothamsted.ac.uk/index.php.

Regards

[2021-09-16 10:19] nathcast commented on #81
I have worked it out and also added some  links to get back to top.

[2021-09-16 10:58] nathcast opened #82 "eRAdoc-ErrorsinGuides"
Put a link from the side of the eRAdoc papers when collection is Yield or Guides to teh xls spreadsheet
Errors-inYieldBooksandGuides (which is in DataDocRepository.

TODO:

- [x] MG to create spreadsheet
- [x] MG plus Sarah to populate a few records
- [x] Nath to make link when there is a  few items in there

[2021-09-16 12:04] mglendining commented on #82
Dear All
I have started making the spreadsheet of errors in e-RAdoc.

Nathalie, you said to use GRID rather than DOI, is that correct? Is the  grid http://www.era.rothamsted.ac.uk/eradoc/OCR/YieldBook2000-13-18? If not, I'm not sure where to find it.

File attached, comments welcome.
THanks
Margaret

________________________________
From: Nathalie Castells-Brooke ***@***.***>
Sent: 16 September 20

[2021-12-02 11:25] nathcast commented on #50
This is a content issue so does not belong in GITHUB. It can be closed and archived. Thanks

[2021-12-02 11:33] nathcast opened #83 "_dataset page: "Dataset: " in the title"
My code for the web site adds “Dataset: “ in front of the title of the datasets. It did not include it in the reference. So there is a discrepancy.
to solve that, some have started to name the Datasets: "Dataset: title "  in the database but that resulted
in the page titled showing “Dataset: Dataset: TITLE of Dataset”

To remedy that I have coded the following:
For a Dataset: if the title (in the

[2021-12-02 14:38] Perrymas commented on #83
Thanks Nathalie. Thanks for adapting this to the new datasets I have created, to accommodate the fact I out 'Dataset' in the title. Just how to apply this to previous datasets already named we can discuss. cheers

[2021-12-15 16:38] nathcast commented on #82
Hi, I have now added a box with a link to the error file on  the pages in eradoc:
 - pages that list the books in a collection.
 - pages that list the content of a book.
Please let me know if the text is OK: it is easy to change,
![image](https://user-images.githubusercontent.com/36696807/146226953-eb5b4236-141b-424c-8ede-bc93039bd123.png)
![image](https://user-images.githubusercontent.com/3669680

[2021-12-16 11:02] nathcast commented on #82
I have two thmbs up from Margaret and Sarah.

[2021-12-16 11:03] nathcast commented on #82
Richard, I beleive this is ready to archive.

[2021-12-16 11:13] nathcast commented on #77
The tool to search the curated keywords is ready and visible when one clicks a keyword.
http://local-info.rothamsted.ac.uk/eRA/era2018-new/keyword/arable%20soils

We could also have a link to it?

[2021-12-16 13:22] nathcast commented on #77
I have updated the keyword.php tool with a word cloud.

[2021-12-16 15:27] nathcast commented on #77
Regarding Keywords, in cdera, run  'select s.subject, s.subject_id from subjects s where not exists (select * from document_subjects ds where ds.ds_id = s.subject_id) ' to find out that only 2 keywords have no documents associated with them.

[2021-12-16 15:31] nathcast commented on #77
Question for Team: do we want the keyword search to also retrieve the documents? or to retrieve them in different pages? The documents are linked a different way, so it is not absolutly trivial like just removing  afilter from the sql.

[2021-12-16 16:56] nathcast commented on #77
I have added the documents to the list of things retrieved from the keywords. I add the numbers for the work cloud.

[2021-12-16 16:59] nathcast opened #84 "Met info overview page"
page sitting in the met folder as index.php
LInked to as info/met/index

Are we happy with the text,
Where does it need to be linked

[2022-01-05 11:38] nathcast commented on #77
From meeting 5/01/2022

- [x] Remove obvious keywords from the list that is displayed in the cloud  (rothamsted experiment station, long term experiments, experiment names)

- [x] Tool to add the "more pages.." to the results. The tool should look at the keywords list that we have and look for pages in More that have the keywords.. If so, then add the page to the associated keyword.

[2022-01-05 11:43] nathcast commented on #68
- [x] rename images tab to "media"  and list in that tab presentations and videos too.

[2022-01-07 11:56] nathcast commented on #76
https://stackoverflow.com/questions/136458/change-the-url-in-the-browser-without-loading-the-new-page-using-javascript

The basic idea is to set the window.location.hash property to a value that contains whatever state information you need, then either use the window.onhashchange event, or for older browsers that don't support onhashchange (IE < 8, Firefox < 3.6), periodically check to see if the

[2022-01-13 14:53] nathcast commented on #79
When searching one term and going to document or page the back button does not work. Need to find a way that the site rememebrs the search term and reloads the page.

[2022-01-13 15:18] nathcast commented on #79
The link to the oage is worng: fixed.
cannot reproduce Sarahs problem,  _

[2022-01-13 16:48] nathcast commented on #79
Type a keyword in search box and click return: select a link then go back, the page needs submitting

[2022-01-14 16:58] nathcast commented on #79
I am redirecting the search to $("#result").html('');
                    let word = $(this).text().trim();
                    window.location.href = 'keyword/'+word; after the search and that woordks

[2022-07-05 10:46] #81 closed, assigned to richardostler, nathcast, mglendining

[2022-07-05 10:51] nathcast opened #85 "_dataset: Put a spinner when downloading data until the file is ready to be put in the drive."
When click on download a dataset, there could be a very long lag before the window to save teh file props up This could be disconcerting and the page needs to offer a spinner  and disable page until the other bit comes up/

Solution: once the button is clilcked, set a spinner modal to visible. When the event of the file updoad thing is on, then set the modal to not visible.

[code]
[code]

[2022-07-05 11:02] nathcast opened #86 "_user: add date to the record of registration."
The date of first registration to the database is not recorded. It would be nice to see when the user first registers and

[2022-07-12 16:34] nathcast commented on #86
To update the user registration with the date of teh earliest download,
[code]

[2022-08-03 09:15] #84 closed, assigned to nathcast

[2022-08-03 09:18] #77 closed, assigned to nathcast

[2022-08-03 09:19] #83 closed, assigned to richardostler, nathcast, Perrymas, mglendining

[2022-08-03 09:19] #50 closed, assigned to Perrymas

[2022-08-03 09:20] #78 closed, assigned to richardostler, nathcast, Perrymas, mglendining

[2022-08-03 09:20] #79 closed, assigned to richardostler, nathcast

[2022-08-03 09:20] #67 closed, assigned to nathcast, Perrymas, mglendining

[2022-08-03 09:21] #68 closed, assigned to nobody

[2022-08-03 09:22] #23 closed, assigned to nathcast

[2022-08-03 09:30] nathcast commented on #86
Date is now showing on the list of registered users.

[2022-08-03 09:30] #86 closed, assigned to nathcast

[2022-08-03 14:06] nathcast commented on #85
I got a spinner, and trying to follow this idea:
https://stackoverflow.com/questions/5757801/javascript-how-to-show-spinner-until-file-downloads

Added a modal at bottom of _dataset
and also a bit of JS and onclick function.

I am gettting to something here:

'''
<div class="modal fade" id="spinner" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered justify-content-cen

[2022-08-03 15:30] nathcast commented on #85
Ok:

When download, the onload event is added to the boddy tag that load shows teh spinner. It has a timer. Give enough time to hopefully let people know that something is happening and that their ownload is comming.

To test. N

[2022-08-03 15:40] nathcast commented on #85
Hi, PLease test this and let me know if that is acceptable behaviour.
To test: go on a dataset page and try Download (try a heavy download like a frictionless dataset
on http://local-info.rothamsted.ac.uk/eRA/era2018-new/experiment/rbk1#datasets
Thanks,

[2022-08-04 09:28] mglendining commented on #85
Hi
I have tested this, and it works well. Good idea.
M

From: Nathalie Castells-Brooke ***@***.***>
Sent: 03 August 2022 16:40
To: Rothamsted-Ecoinformatics/eRA ***@***.***>
Cc: Margaret Glendining ***@***.***>; Assign ***@***.***>
Subject: Re: [Rothamsted-Ecoinformatics/eRA] _dataset: Put a spinner when downloading data until the file is ready to be put in the drive. (Issue #85)

CAUTION: This em

[2022-08-05 15:05] richardostler commented on #85
Looks good to me

[2022-08-05 15:05] #85 closed, assigned to richardostler, nathcast, Perrymas, mglendining

[2022-11-02 12:27] nathcast commented on #76
Found that page: https://webdesign.tutsplus.com/tutorials/how-to-add-deep-linking-to-the-bootstrap-4-tabs-component--cms-31180
that solves most of our issues quite neatly.
Only thing, is that the tab does not get highlighted!

[2022-11-02 12:27] nathcast commented on #76
$(document).ready(() => {
  let url = location.href.replace(/\/$/, "");

  if (location.hash) {
    const hash = url.split("#");
    $('#myTab a[href="#'+hash[1]+'"]').tab("show");
    url = location.href.replace(/\/#/, "#");
    history.replaceState(null, null, url);
    setTimeout(() => {
      $(window).scrollTop(0);
    }, 400);
  }

  $('a[data-toggle="tab"]').on("click", function() {
    let

[2022-11-02 15:14] nathcast commented on #76
But the tab is still set to inactive.

[2022-11-25 10:56] nathcast opened #87 "ignore"
Put there by error